<div ng-include="'views/writer/Book-subHeaderD.html'">Loading...</div>

<div class="content">
    <div class="level" ng-repeat="level in book.Levels" ng-style="level.dynamicStyle()">
        <div class="chapter" ng-repeat="chapter in level.Chapters" ng-style="chapter.dynamicStyle()" ng-click="level.isWide = !level.isWide">
            <div class="header">
                {{chapter.Name}}
                * <a href="ar/writer/chapter/{{chapter.Id}}">Edit</a>
            </div>
            <div class="body">
                {{chapter.Desc}}
            </div>

        </div>
    </div>
</div>