<div id="book-writer" ng-class="!book ? 'wait' : ''">
    <div class="wide-header">
        <div class="content" id="sub-header">
            <div class="logo header-item">
                {{book.Name}}
            </div>
            <div class="header-item">
                <input type="range" ng-model="scale" ng-change="updateStyleForAllLevel()" min="0.4" max="2" step="0.05" /> {{scale * 100 | number : '.0'}}%
            </div>

            <div class="header-item center">
                <a href="#" ng-click="toggleRoadmap()">Roadmap</a>
            </div>

            <div class="right"></div>
        </div>
    </div>

    <div class="content" id="book-writer">
        <div class="level" ng-repeat="level in book.Levels" ng-style="level.dynamicStyle" ng-if="!isRoadmap">
            <div class="add" ng-style="level.dynamicStyle.dynamicStyleForAddButton">
                <span class="icon add-icon" ng-click="addChapter($index + 1)"></span>
                <span class="button-medium-blue" ng-click="toggleWide(level)" ng-if="level.Chapters.length > 1">
                    {{level.isWide ? '>=<' : '<=>' }}
                </span>
            </div>

            <div class="chapter" ng-repeat="chapter in level.Chapters" ng-class="{isNext : chapter.isNext,isPrev : chapter.isPrev}"
                 ng-style="chapter.dynamicStyle" ng-mouseover="onChapterHover(chapter)" ng-mouseleave="onChapterHover()">
                <div class="header">
                    {{chapter.Name}}
                </div>
                <div>
                    <a href="ar/writer/chapter/{{chapter.Id}}">Edit</a>
                    * <a href="#" ng-click="remove(chapter, $index)">Remove</a>
                </div>
                <div class="body">
                    {{chapter.Desc}}
                </div>
            </div>
        </div>


        <div class="level roadmap" ng-repeat="level in book.Levels" ng-style="level.dynamicStyle" ng-if="isRoadmap">

            <div class="chapterBlock" ng-repeat="chapterBlock in level.ChaptersBlock">
                <div  ng-repeat="chapter in chapterBlock.Chapters" ng-style="chapter.dynamicStyle">
                    <div class="header">
                        {{chapter.Name}}
                    </div>
                    <div class="body" ng-show="$last">
                        {{chapter.Desc}}
                    </div>
                </div>
            </div>
        </div>


        <div class="add-level" ng-if="!isRoadmap">
            <span class="icon add-icon" ng-click="addChapter(book.Levels.length + 1)"></span>
        </div>
    </div>
</div>