<div class="wide-header" ng-class="!books ? 'wait' : ''">
    <div class="content sub-header" id="sub-header">
        <div class="project-list">
            <ul>
                <li>Все проекты<span class="gray-text"> | {{books.length}} проектов</span></li>
                    <!--<li class="size-action"><input type="range" /></li>-->
            </ul>
        </div>

        <div class="book-menu w-reg">
            <ul>
                <li ng-repeat="filter in listOfFilters" ng-click="filterBooks(filter)" ng-class="{active: filter.active}">
                    {{filter.displayName}}
                </li>
            </ul>
        </div>

        <div class="action-list">
            <!--<div class="action-list-item sort-list">
                <select>
                    <option>Сортировать</option>
                    <option>Дате</option>
                    <option>Размер</option>
                </select>
            </div>-->
            <div class="action-list-item create-book">
                <span class="icon add-icon" ng-click="showCreateBook()"></span>
            </div>
        </div>
    </div>
</div>

<div class="content content-books">
    <div class="book" ng-repeat="book in books  | filter: filter ">
        <p>
            {{resources.Tags}}:
            <span ng-repeat="tag in book.Tags" class="tag fantastic" data-tag-id="{{tag.Id}}">
                {{tag.Name}}
                <span class="icon close" ng-click="removeTag(book, tag, $index)"></span>
            </span>
            <input class="newTag" ng-model="book.newTag.Name" ng-keypress="tagAdd($event, book)" placeholder="{{resources.EnterTag}}" />
            <a href="#" ng-show="!book.isEdit" ng-click="book.isEdit = true">Edit&nbsp;Name&nbsp;&&nbsp;Desc</a>
            <a href="#" ng-show="book.isEdit" ng-click="updateBookNameAndDesc(book)">Confirm</a>
        </p>
        <div class="name">
            <span ng-show="!book.isEdit">{{book.Name}}</span>
            <input ng-show="book.isEdit" ng-model="book.Name" />
        </div>
        <div class="desc">
            <p ng-show="!book.isEdit">{{book.Desc}}</p>
            <textarea ng-model="book.Desc" ng-show="book.isEdit" class="no-border"></textarea>
        </div>
        <div>
            <a href="/ar/writer/book/{{book.Id}}">edit chapter</a> |
            <a href="#" ng-click="remove(book, $index)">Remove</a>
        </div>
        <div>
            {{book.IsPublished}} *

            <a href="#" ng-click="publish(book)">опубликовать</a>
        </div>

    </div>
</div>

<div class="fullscreen-div" ng-if="newBook">
    <div>
        <input class="no-border" placeholder='{{resources.EnterBookName}}' ng-model="newBook.name" ng-keypress="createBook($event)" />
        <span class="pointer" ng-click="cancelCreationNewBook()">X</span>
    </div>
    <div>
        <textarea ng-model="newBook.desc" placeholder='{{resources.EnterBookName}}' class="no-border"></textarea>
    </div>
</div>
