<div class="wide-header">
    <div class="content sub-header" id="sub-header">
        <div class="project-list">
            <ul>
                <li>Все проекты<span class="gray-text"> | {{books.length}} проектов</span></li>
                <!--<li class="size-action"><input type="range" /></li>-->
            </ul>
        </div>

        <div class="book-menu w-reg">
            <ul>
                <li ng-repeat="filter in listOfFilters" ng-click="filterBooks(filter)" ng-class="{active: filter.active}">
                    {{filter.displayName}}
                </li>
            </ul>
        </div>

        <div class="action-list">
            <!--<div class="action-list-item sort-list">
                <select>
                    <option>Сортировать</option>
                    <option>Дате</option>
                    <option>Размер</option>
                </select>
            </div>-->
            <div class="action-list-item create-book">
                <span class="icon add-icon" ng-click="showCreateBook()"></span>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div ng-if="!books || !questionnaires" class="wait-block">
        <img src="/Content/icon/wait.gif" />
    </div>
    <div class="book"
         ng-show="books && questionnaires.skipQuestionnaires"
         ng-repeat="book in books  | filter: filter "
         ng-class="book.IsPublished ? 'published' : 'draft'">
        <div class="header">
            <div class="user-avatar-block">
                <img ng-src="{{book.AuthorAvatar}}" title="{{book.AuthorFullName}}" class="user-avatar" />
            </div>
            <div class="detail-block">
                <p class="line-one">
                    <span class="author-name">{{book.AuthorFullName}}</span>
                </p>
                <p class="line-two">
                    <span class="icon calendar"></span>
                    <span class="date" ng-show="book.PublicationDate">{{book.PublicationDate}} </span>
                    <span class="icon time"></span>
                    <span>{{(book.NumberOfWords / 180 + book.NumberOfChapters / 1500) / 2 | number : 0}}</span>
                </p>
            </div>
            <div>
                <a class="writer-actions-toggle icon menu-icon" ng-click="toggleActionsBlock($event, book)"></a>
                <div class="writer-actions-menu" ng-show="book.actionsActive">
                    <a href="#" ng-click="switchToEditModeBookForNameOrDesc(book)">{{resources.Writer_EditNameOrDesc}}</a>
                    <a href="#" ng-click="remove(book, $index)">{{resources.Writer_RemoveBook}}</a>
                    <a href="#" ng-click="togglePublish(book)">{{book.IsPublished ? resources.Writer_UnPublish : resources.Writer_Publish}}</a>
                    <!--<p ng-if="book.IsPublished">{{resources.Writer_StatePublished}}</p>
                    <p ng-if="!book.IsPublished">{{resources.Writer_StateUnPublished}}</p>-->
                </div>
            </div>
        </div>


        <div class="tags-block">
            <span class="tag" ng-repeat="tag in book.Tags" data-tag-id="{{tag.Id}}">{{tag.Name}}</span>
        </div>

        <div class="name">
            <span ng-show="!book.isEdit">{{book.Name}}</span>
            <input ng-show="book.isEdit" ng-model="book.Name" />
        </div>
        <div class="desc">
            <p ng-show="!book.isEdit">{{book.Desc}}</p>
            <textarea ng-model="book.Desc" ng-show="book.isEdit" class="no-border"></textarea>
        </div>
        <div ng-show="book.isEdit">
            <a href="#" ng-click="updateBookNameAndDesc(book)"><span class="button-medium-blue">{{resources.Writer_Confirm}}</span></a>
        </div>
        <div>
            <span ng-show="book.Tags && book.Tags.length > 0">{{resources.Tags}}:</span>
            <span ng-repeat="tag in book.Tags" class="tag" data-tag-id="{{tag.Id}}">
                {{tag.Name}}
                <span class="icon close" ng-click="removeTag(book, tag, $index)"></span>
            </span>
        </div>
        <div>
            <input class="newTag" ng-model="book.newTag.Name" ng-keypress="tagAdd($event, book)" placeholder="{{resources.Writer_EnterTag}}" />
        </div>
        <div>
            <a href="/ar/writer/book/{{book.Id}}"><span class="button-medium-blue">{{resources.Writer_WorkOnProject}}</span></a>
        </div>
    </div>

    <div ng-if="books && !questionnaires.skipQuestionnaires"
         ng-repeat="questionnaire in questionnaires"
         class="book questionnaire-request">
        <p>
            Пожалуйста перед началом работы с вашими произведениями пройдите опрос: {{questionnaire.Name}}.
        </p>
        <p>
            Для нас очень важны ваши ожидания от работы с нашим сервисом.
        </p>
        <div>
            <a href="/ar/reader/questionnaire/{{questionnaire.Id}}"><span class="button-medium-blue">Пройти опрос</span></a>
        </div>
        <div>
            <a href="#" ng-click="questionnaires.skipQuestionnaires = true"><span class="button-medium-gray">Позже</span></a>
        </div>
    </div>
</div>

<div class="fullscreen-div" ng-if="newBook">
    <div class="gray-background" ng-click="cancelCreationNewBook()"></div>
    <div class="create-book popupBody">
        <div>
            <input class="no-border" placeholder='{{resources.Writer_EnterBookName}}' ng-model="newBook.name" ng-keypress="bookNameTyped($event)" tabindex="1" />
        </div>
        <div>
            <textarea ng-model="newBook.desc" placeholder='{{resources.Writer_EnterBookDesc}}' class="no-border" tabindex="2"></textarea>
        </div>
        <div class="footer">
            <a href="#"
               ng-click="createBook()" tabindex="3"><span ng-class="newBook.name ? 'button-medium-blue' : 'button-medium-gray'">{{resources.Writer_Confirm}}</span></a>
        </div>
    </div>
</div>
