<div id="chapter" class="content" ng-class="!chapter ? 'wait' : ''">
    <form name="chapterForm" novalidate>
        <div class="header">
            <input type="text" ng-model="chapter.Name" ng-keydown="chapterTitleKeyPressed($event)" class="no-border" tabindex="1" />
            <!--<div class="right">
                <a href="#" ng-click="close()">close</a>
            </div>-->
        </div>
        <div class="body">
            <textarea ng-model="chapter.Desc" class="no-border" tabindex="2"></textarea>
        </div>
        <div class="footer">
            <img ng-if="!chapter || wait" src="/Content/icon/wait.gif" class="icon20" />
            <span class="button-medium-blue" ng-click="save(false)" tabindex="3">{{resources.Writer_Save}}</span>
            <span class="button-medium-blue" ng-click="save(true)" tabindex="4">{{resources.Writer_SaveAndClose}}</span>
        </div>
    </form>
    <div class="chapter-links-block" ng-show="chapterLinks.length > 0">
        <form name="chapterLinkBlockForm">
            <div class="chapter-link" ng-repeat="chapterLink in chapterLinks">
                <div class="text">
                    <input ng-model="chapterLink.Text" class="no-border" ng-blur="updateChpaterLink(chapterLink)" tabindex="{{ 6 + $index}}" />
                    <div ng-if="user && user.ShowExtendedFunctionality">
                        <hr />
                        <p>
                            {{resources.Writer_RequirementTitle}}:
                        </p>
                        <p ng-repeat="requirement in chapterLink.Requirements">
                            <span>{{requirement.StateType.Name}}</span>
                            <span class="changeType">{{requirement.RequirementType.Name}}</span>

                            <!-- BasicType.boolean == 3 -->
                            <span ng-show="requirement.RequirementType.Value != 5
                                    && requirement.RequirementType.Value != 6
                                    && requirement.StateType.BasicType != 3">
                                {{requirement.Value}}
                            </span>
                            <span ng-show="requirement.RequirementType.Value != 5
                                    && requirement.RequirementType.Value != 6
                                    && requirement.StateType.BasicType == 3">
                                {{requirement.Value == 'True' ? resources.Writer_BooleanTrue : resources.Writer_BooleanFalse }}
                            </span>

                            <a href="#" ng-click="removeRequirement(chapterLink, requirement.Id, $index)">X</a>
                        </p>
                        <p class="variable-action">
                            <select ng-model="chapterLink.newRequirement.StateType"
                                    ng-options="stateType as stateType.Name for stateType in chapter.StateTypes"
                                    ng-change="updateRequirementType(chapterLink)"></select>

                            <select ng-model="chapterLink.newRequirement.RequirementType.Value"
                                    ng-options="requirementType.Value as requirementType.Name for requirementType in chapterLink.RequirementTypes"></select>

                            <!-- RequirementType.Exist == 5 -->
                            <!-- RequirementType.NotExist == 6 -->
                            <!-- BasicType.number == 1 -->
                            <!-- BasicType.boolean == 3 -->
                            <input type="{{ chapterLink.newRequirement.StateType.BasicType ==  1 ? 'number' : 'text' }}"
                                   ng-model="chapterLink.newRequirement.Value"
                                   ng-if="chapterLink.newRequirement.RequirementType.Value != 5
                                    && chapterLink.newRequirement.RequirementType.Value != 6
                                    && chapterLink.newRequirement.StateType.BasicType != 3" />
                            <select ng-model="chapterLink.newRequirement.Value"
                                    ng-if="chapterLink.newRequirement.RequirementType.Value != 5
                                    && chapterLink.newRequirement.RequirementType.Value != 6
                                    && chapterLink.newRequirement.StateType.BasicType == 3">
                                <option value="True">{{resources.Writer_BooleanTrue}}</option>
                                <option value="False">{{resources.Writer_BooleanFalse}}</option>
                            </select>
                            <input type="button" value="+" ng-click="saveNewRequirement(chapterLink)" />
                        </p>
                        <hr />
                        <p>
                            {{resources.Writer_ChangeTitle}}:
                        </p>
                        <p ng-repeat="change in chapterLink.Changes">
                            <span>
                                {{change.StateType.Name}}
                            </span>
                            <span class="changeType">{{change.ChangeType.Name}}</span>
                            <!-- BasicType.boolean == 3 -->
                            <span ng-show="change.ChangeType.Value != 4
                                    && change.StateType.BasicType != 3">
                                {{change.Value}}
                            </span>
                            <span ng-show="change.ChangeType.Value != 4
                                    && change.StateType.BasicType == 3">
                                {{change.Value == 'True' ? resources.Writer_BooleanTrue : resources.Writer_BooleanFalse }}
                            </span>
                            <a href="#" ng-click="removeChange(chapterLink, change.Id, $index)">X</a>
                        </p>
                        <p class="variable-action">
                            <select ng-model="chapterLink.newChange.StateType"
                                    ng-options="stateType as stateType.Name for stateType in chapter.StateTypes"
                                    ng-change="updateChangeType(chapterLink)"></select>

                            <select ng-model="chapterLink.newChange.ChangeType.Value"
                                    ng-options="changeType.Value as changeType.Name for changeType in chapterLink.ChangeTypes"></select>

                            <!-- ChangeType.Remove == 4 -->
                            <!-- BasicType.number == 1 -->
                            <!-- BasicType.boolean == 3 -->
                            <input type="{{ chapterLink.newChange.StateType.BasicType ==  1 ? 'number' : 'text' }}"
                                   ng-model="chapterLink.newChange.Value"
                                   ng-if="chapterLink.newChange.ChangeType.Value != 4
                                    && chapterLink.newChange.StateType.BasicType != 3" />
                            <select ng-model="chapterLink.newChange.Value"
                                    ng-if="chapterLink.newChange.ChangeType.Value != 4
                                    && chapterLink.newChange.StateType.BasicType == 3">
                                <option value="True">{{resources.Writer_BooleanTrue}}</option>
                                <option value="False">{{resources.Writer_BooleanFalse}}</option>
                            </select>

                            <input type="button" value="+" ng-click="saveNewChange(chapterLink)" />
                        </p>
                    </div>
                </div>
                <div class="action-button">
                    <p>
                        <a href="#">
                            <span class="button-medium-blue">
                                {{chapterLink.Text ? resources.Travel_GetChosen : resources.Travel_Next}} <span class="author-tips">{{chapterLink.ToChapterName}}</span>
                            </span>
                        </a>
                    </p>

                </div>
            </div>
        </form>
    </div>
    <!--<div>
        <span class="button-medium-blue" ng-click="createNextChapter()">создать следующую главу</span>
    </div>-->

</div>
