<div id="chapter" class="content" ng-class="!chapter ? 'wait' : ''">
    <form name="chapterForm" novalidate>
        <div class="header">
            <input type="text" ng-model="chapter.Name" ng-keydown="chapterTitleKeyPressed($event)" class="no-border" tabindex="1" />
            <!--<div class="right">
                <a href="#" ng-click="close()">close</a>
            </div>-->
        </div>
        <div class="body">
            <textarea ng-model="chapter.Desc" class="no-border" tabindex="2"></textarea>
        </div>
        <div class="footer">
            <img ng-if="!chapter || wait" src="/Content/icon/wait.gif" class="icon20" />
            <span class="button-medium-blue" ng-click="save(false)" tabindex="3">Сохранить</span>
            <span class="button-medium-blue" ng-click="save(true)" tabindex="4">Сохранить и закрыть</span>
        </div>
    </form>
    <div class="chapter-links-block" ng-show="chapterLinks.length > 0">
        <form name="chapterLinkBlockForm">
            <div class="chapter-link" ng-repeat="chapterLink in chapterLinks">
                <div class="text">
                    <input ng-model="chapterLink.Text" class="no-border" ng-blur="updateChpaterLink(chapterLink)" tabindex="{{ 6 + $index}}"/>
                </div>
                <div class="action-button">
                    <p>
                        <a href="#">
                            <span class="button-medium-blue">
                                {{chapterLink.Text ? resources.Travel_GetChosen : resources.Travel_Next}} <span class="author-tips">{{chapterLink.ToChapterName}}</span>
                            </span>
                        </a>
                    </p>
                    <!--<div class="condition">
                        <p>
                            <label>
                                Добавить условие
                                <input type="checkbox"
                                       ng-disabled="chapterLink.Condition"
                                       ng-init="addCondition = !!chapterLink.Condition"
                                       ng-model="addCondition" />
                            </label>
                        </p>
                        <p ng-if="addCondition">
                            {{chapterLink.Condition}}
                            <select ng-model="chapterLink.Condition">
                                <option value="" selected>Выбери решение</option>
                                <option value="{{decision}}" ng-repeat="decision in availableDecision">{{decision}}</option>
                            </select>
                            <span class="button-medium-blue" ng-click="saveCondition(chapterLink)">Сохранить</span>
                        </p>
                    </div>-->

                    <!--<div class="decision">
                        <p>
                            <label>
                                Запомнить решение
                                <input type="checkbox"
                                       ng-disabled="chapterLink.Decision"
                                       ng-init="rememberDecision = !!chapterLink.Decision"
                                       ng-model="rememberDecision" />
                            </label>
                        </p>
                        <p ng-if="rememberDecision || chapterLink.Decision">
                            <input type="text" ng-model="chapterLink.Decision" placeholder="Метка решения" />
                            <span class="button-medium-blue" ng-click="saveDecision(chapterLink)">Сохранить</span>
                        </p>
                    </div>-->
                </div>
            </div>
        </form>
    </div>
    <!--<div>
        <span class="button-medium-blue" ng-click="createNextChapter()">создать следующую главу</span>
    </div>-->

</div>
