<div id="chapter" class="content" ng-class="!chapter ? 'wait' : ''">
    <form name="chapterForm" novalidate>
        <div class="header">
            <input type="text" ng-model="chapter.Name" class="no-border" />
            <div class="right">
                <a href="ar/writer/book/{{chapter.BookId}}">close</a>
            </div>
        </div>
        <div class="body">
            <textarea ng-model="chapter.Desc" class="no-border"></textarea>
        </div>
        <div class="footer">
            <img ng-if="!chapter || wait" src="/Content/icon/wait.gif" class="icon20" />
            <span class="button-medium-blue" ng-click="save(false)">Сохранить</span>
            <span class="button-medium-blue" ng-click="save(true)">Сохранить и закрыть</span>
        </div>
    </form>
    <div class="chapter-links-block" ng-show="chapterLinks.length > 0">
        <form name="chapterLinkBlockForm">
            <div class="chapter-link {{chapterLink.Text ? '' : 'onlyNext'}}" ng-repeat="chapterLink in chapterLinks">
                <span class="icon close" ng-click="deleteLink(chapterLink.Id, $index)"></span>
                <div class="text" ng-if="chapterLink.Text">
                    <input ng-model="chapterLink.Text" class="no-border" ng-blur="updateChpaterLink(chapterLink)" />
                </div>
                <div class="action-button">
                    <a href="/ar/writer/chapter/{{chapterLink.ToId}}">
                        <span class="button-medium-blue">
                            {{chapterLink.Text ? 'Сделать выбор' : 'Далее'}}
                        </span>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="chapter-link">
        <form name="chapterLinkForm" novalidate>
            <textarea class="no-border" ng-model="newChapterLink.Text" placeholder='Текст для ссылки на следующую главу. По умолчанию ссылка будет с текстом "Далее"'></textarea>
            <select ng-options="chapter.Id as chapter.Name for chapter in chaptersBottom track by chapter.Id"
                    ng-model="newChapterLink.ToId"></select>
            <span class="button-medium-blue" ng-click="saveChapterLink()">Создать ссылку</span>
        </form>
    </div>
    <div>
        <span class="button-medium-blue" ng-click="createNextChapter()">создать следующую главу</span>
    </div>

</div>
