div, h3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.hero-block {
    width: 200px;
    /*float: left;*/
    border: 1px black solid;
}

.book-block {
    float: right;
    border: 3px green double;
    width: 300px;
    height: 350px;
}

.wile {
    padding-left: 10px;
    /*border-top: 3px red double;*/
    height: 450px;
}

.event {
    padding-left: 20px;
    border: 3px blueviolet double;
    float: left;
}

.left {
    float: left;
}

.hero-card {
    float: right;
    width: 300px;
    height: 300px;
    border: 1px blueviolet solid;
}