p {
    margin: 0;
    padding: 0;
}

.error {
    color: red;
}

.avatar {
    background-color: #3366CC;
    width: 300px; /* Ширина слоя */
    height: 480px; /* Высота блока */
    margin: 7px; /* Значение отступов */
}

    .avatar img {
        max-width: 300px;
    }

.button {
    background-color: #0003AA;
    width: 30px; /* Ширина слоя */
    height: 25px; /* Высота блока */
}

.avatars-container {
    height: 500px;
}

.total-container {
    /*width: 950px;*/
    margin: auto;
}

.choice {
    background-color: #2569AA;
}

.right {
    float: right;
}

.left {
    float: left;
}

.active {
    border: solid #92ff0a; /* Параметры границы */
}

.sidebar, .content, .name, .properties {
    padding: 10px; /* Поля */
    /*border: solid 1px #000;*/ /* Параметры рамки */
    /*background: #e8362e;*/ /* Цвет фона */
}

.layout {
    margin: 15px 0; /* Отступы сверху и снизу */
    overflow: hidden; /* Отменяем действие float */
    min-width: 800px; /* Минимальная ширина */
    max-width: 1200px; /* Максимальная ширина */
}

.sidebar { /* Навигация по сайту */
    width: 200px; /* Ширина меню */
    float: right; /* Состыковка с другим слоем по горизонтали */
}

.content { /* Основное содержание страницы */
    margin-right: 235px; /* Отступ слева */
}

.text {
    text-align: center;
    margin: 0;
}

.name {
    width: 270px;
    height: 280px;
    margin: 10px;
}

.leftimg {
    float: left;
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

.properties {
    padding: 3px;
}

.quest {
    height: 180px;
    width: 460px;
    border: solid 1px #000000;
}

.specialMarginForQuests {
    margin: 25px auto;
    border: solid 1px #000;
}

.specialMarginForPerfomance {
    margin: 70px 5px;
}

.arrow {
    width: 150px;
    height: 120px;
    border: solid 1px #000030;
    margin: 90px 0;
}

.log {
    width: 940px;
    height: 350px;
    border: solid 1px #000030;
}


/* Lvov */
.block300 {
    width: 300px;
}
.block900 {
    width: 900px;
}

.icon20 {
    width: 20px;
    height: 20px;
}

.border1px {
    border: 1px #ccc solid;
}

.padding10 {
    padding: 10px;
}

.avatar input {
    display: none;
}

.traning-room {
    width: 300px;
    border: 1px #006400 solid;
}

.wait {
    background: red;
}

.skill {
    margin: 0;
    padding: 0 5px;
}

    .skill.Fire {
        border: 2px red solid;
    }

    .skill.Base {
        border: 1px grey solid;
    }

    .skill.Cold {
        border: 2px #0003aa solid;
    }

.event-edit {
    width: 900px;
}

    .event-edit h3 {
        cursor: pointer;
    }

.wayLink {
    border: rosybrown 2px dotted;
    margin: 5px;
    cursor: pointer;
}

    .wayLink:hover {
        border: royalblue 2px dotted;
        background-color: rosybrown;
    }

    .wayLink a {
        text-decoration: none;
        color: #000;
    }

.event-changes-block {
    position: absolute;
    display: inline-block;
    background-color: #ccc;
    left: 50%;
    border: 3px dotted rosybrown;
    min-width: 200px;
}

.profile .evaluation{
    margin-left: 20px
}

/*  Health and Mana bar  */
.main-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

    .main-bar .bar {
        height: 10px;
        position: relative;
        transition: width .5s linear;
    }

.health-bar .bar {
    background: #c54;
    width: 100%;
}

.mana-bar .bar {
    background: #000080;
    width: 100%;
}


/* END Health and Mana bar  */

/* Use Angular classes */
.ng-dirty.auto-apply {
    background-color: darkgrey;
}

form.ng-dirty input.save {
    background-color: green;
}

/* Animation */
.change-item {
    position: relative;
    opacity: 0.0;
}
/*.change-item-remove,*/
.change-item-add {
    transition-property: all;
    transition-duration: 2s;
    left: 0;
    /*top: 0;*/
    opacity: 1.0;
}

    .change-item-add.change-item-add-active {
        left: 600px;
        /*top: 150px;*/
        opacity: 0.0;
    }

/* ****************** modal ****************** */
.thingModal  .modal-dialog,
.statesModal .modal-dialog {
    width: 950px;
    height: 600px;
}

.thingModal .modal-content,
.statesModal .modal-content{
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}