<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript">
		$( document ).ready(function() {
			var url = 'http://localhost:52079/api/Book/GetBook/80026';
			$.get(url, function (data){
				var a = data;
				var b = a.Id;
			});
		});
    </script>
</head>
<body>
    Nice boobs
</body>
</html>


