<div class="content" ng-class="!books ? 'wait' : ''">
    <div class="book" ng-repeat="book in books" ng-click="readBook(book.Id)">
        <div class="header">
            <div class="user-avatar-block">
                <img ng-src="{{book.AuthorAvatar}}" title="{{user.Name}}" class="user-avatar" />
            </div>
            <div class="detail-block">
                <p class="line-one">
                    <span class="author-name">{{book.AuthorFullName}}</span>
                </p>
                <p class="line-two">
                    <span ng-show="book.PublicationDate">{{book.PublicationDate}} </span>
                    <span class="icon eye"></span> {{book.Views}} <span class="icon eye"></span> 9
                </p>
            </div>
            <div class="tags-block">
                <span class="tag" ng-repeat="tag in book.Tags" data-tag-id="{{tag.Id}}">{{tag.Name}}</span>
            </div>
            
        </div>

        <p class="name">
            {{book.Name}}
        </p>
        <p class="desc">
            {{book.Desc}}
        </p>
        <div class="actions">
            <a href="#" ng-click="goToTravel(book.Id)">
                <span class="button-medium-gray">
                    {{book.IsReaded ? 'Продолжить' : 'Отправится в' }} путешествие >
                </span>
            </a>
        </div>
    </div>
</div>