<div class="content" ng-class="!books ? 'wait' : ''">
    <div class="book" ng-repeat="book in books" ng-click="readBook(book.Id)">
        <img ng-src="{{book.AuthorAvatar}}" title="{{user.Name}}" class="user-avatar" />
        <div class="header">
            <p class="line-one">
                <span>by </span><span class="author-name">{{book.AuthorFullName}}</span>
            </p>
            <p class="line-two">
                <span ng-show="book.PublicationDate">{{book.PublicationDate}} | </span><span class="icon eye"></span> {{book.Views}}
            </p>
        </div>

        <p class="name">
            {{book.Name}}
        </p>
        <p class="desc">
            {{book.Desc}}
        </p>
        <a href="#" ng-click="goToTravel(book.Id)">
            <span class="button-medium-gray">
                {{book.IsReaded ? 'Продолжить' : 'Отправится в' }} путешествие >
            </span>
        </a>
    </div>
</div>