<div class="wide-header">
    <div class="content" id="sub-header">
        <div class="book-menu r-reg">
            <ul>
                <li ng-repeat="filter in listOfFilters" ng-click="chooseFilter(filter)" ng-class="{active: filter.active}">
                    {{filter.displayName}}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div ng-if="!books">
        <img src="/Content/icon/wait.gif" />
    </div>
    <div class="wrapper-book">
        <div class="book" ng-repeat="book in books | filter : filterObj " ng-click="readBook(book.Id)">
            <div class="wrapper">
                <div class="header">
                    <div class="user-avatar-block">
                        <img ng-src="{{book.AuthorAvatar}}" title="{{book.AuthorFullName}}" class="user-avatar" />
                    </div>
                    <div class="detail-block">
                        <p class="line-one">
                            <span class="author-name">{{book.AuthorFullName}}</span>
                        </p>
                        <p class="line-two">
                            <span class="icon calendar"></span>
                            <span class="date" ng-show="book.PublicationDate">{{book.PublicationDate}} </span>
                            <span class="icon time"></span>
                            <span>{{(book.NumberOfWords / 180 + book.NumberOfChapters / 1500) / 2 | number : 0}}</span>
                        </p>
                    </div>
                </div>
                <div class="book-content">

                    <div class="tags-block hide-beta">
                        <span class="tag" ng-repeat="tag in book.Tags" data-tag-id="{{tag.Id}}">{{tag.Name}}</span>
                    </div>

                    <!--<input type="button" name="tag" value="КОМЕДИЯ" />-->
                    <p class="name">
                        {{book.Name}}
                    </p>
                    <p class="desc">
                        {{book.Desc}}
                    </p>
                    <div class="actions">
                        <a href="#" ng-click="goToTravel(book)" ng-if="!book.IsReadedEnd">
                            <span class="button-medium-gray">
                                {{book.IsReaded ? resources.ReaderBooks_ContinueTavel : resources.ReaderBooks_StartTravel }}
                            </span>
                            <span class="icon arrow-forward"></span>
                        </a>
                        <a href="#" ng-click="resetTravel(book)">
                            <span class="button-medium-gray" ng-if="book.IsReadedEnd">
                                {{resources.ReaderBooks_TheBookIsReaded}}
                                <span class="icon arrow-again"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="book-footer reader" ng-show="user">
                    <div>
                        <span class="icon thumb-up {{book.UserLikedIt ? 'active' : ''}}" ng-click="like(book)"></span>
                        <span>{{book.Likes}}</span>
                    </div>
                    <div>
                        <span class="icon comment" ng-click="toggleComment(book)"></span>
                        <span>
                            {{book.BookComments ? book.BookComments.length : 0}}
                        </span>
                    </div>
                    <div class='hide-beta'>
                        <span class="icon share"></span>
                        <span>Поделиться</span>
                    </div>
                    <div class="bookmark-margin hide-beta">
                        <span class="icon bookmark"></span>
                    </div>
                </div>
                <div class="comments" ng-show="book.showComments">
                    <div ng-repeat="comment in book.BookComments" class="comment-block">
                        <div>{{comment.Text}}</div>
                        <div class="publication-date">
                            <span>{{comment.AuthorName}}</span>
                            <span>{{comment.PublicationDate}}</span>
                            <span ng-show="user.Id == comment.AuthorId" class="icon bin" ng-click="removeComment(book, comment, $index)"></span>
                        </div>
                    </div>
                    <div>
                        <textarea ng-model="book.newCommentText" class="new-comment-textarea" placeholder="Можете тут написать свой комментарий"></textarea>
                        <input type="button" value="Комментировать" class="comment-button"
                               ng-click="addComment(book)"/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
