<div class="content" id="landing">
    <div class="login">
        <h1>
            We have a cool site! Welcome.
        </h1>
        <div class="desc">
            Some cool text about web site. Some cool text about web site.Some cool text about web site.Some cool text about web site.
            Some cool text about web site. Some cool text about web site.Some cool text about web site.Some cool text about web site.
            Some cool text about web site. Some cool text about web site.Some cool text about web site.Some cool text about web site.
        </div>
        <div class="login-block">
            <input ng-model="loginObj.Name" placeholder="name" />
            <input ng-model="loginObj.Email" placeholder="email" />
            <input type="password" ng-model="loginObj.Password" placeholder="password" />
            <input type="button" value="Скорее зарегистрироваться" ng-click="register()" /><!--ng-show="!user"-->
        </div>
    </div>
    <div class="features">
        <div class="block-header">
            <div class="tag-block">
                <span class="tag">about</span>
            </div>
            <h1><span class="big-shadow">Возможности</span><span class="main-text">Возможности</span></h1>
            <div class="line"></div>
        </div>
        <div class="text">
            <p>
                Давайте на этом примере введём важную цифру, а именно процент пропущенных глав. Читатель, какой бы путь он не выбрал, прочитает лишь 4 главы, в то время как автору пришлось прописать 15 главы. Иными словами почти 75% глав были пропущены. С увеличением количества выборов предоставляемых читателю данное число растёт по экспоненте. Для решения этой проблемы используются ложные выборы. Автор, даёт на выбор одну или несколько глав, результат которых, так или иначе, приходит в одну точку (главу). Это позволяет избегать излишнего ветвления, снижает процент пропущенных глав, при этом оставляя читателю ощущение постоянного участия в событиях.
            </p>
            <p>
                Здесь хотелось бы остановиться на очевидном, но, тем не менее, важном замечании. Ложное ветвление лишь инструмент, как и любой другой инструмент, он может испортить произведение при неумелом обращении. Если читатель почувствует, что от его решений ничего не зависит, это серьёзно испортит его впечатления от произведения. Потому старайтесь не злоупотреблять ложными выборами, до тех пор, пока вы не сможете мастерски маскировать от читателя, какой из выборов ложный, а какой определит всю дальнейшую судьбу произведения.
            </p>
            <p>
                Следующий инструмент, который предоставляет наш портал, является Решения. Способов применения много, но в первую очередь я бы хотел остановиться на двух базовых: Отложенный выбор и Накопление решений.
            </p>
        </div>
    </div>
    <div class="example">
        <div class="block-header">
            <div class="tag-block">
                <span class="tag">features</span>
            </div>
            <h1><span class="big-shadow">Примеры</span><span class="main-text">Примеры</span></h1>
            <div class="line"></div>
        </div>
        <div class="side-column">
            <div class="chapter-block" ng-class="{acitve: visibleBlock.initButton}">
                <div ng-if="!visibleBlock.initButton">
                    <h3>Решения</h3>
                    <p>
                        Следующий инструмент, который предоставляет наш портал, является Решения. Способов применения много, но в первую очередь я бы хотел остановиться на двух базовых: Отложенный выбор и Накопление решений.
                    </p>
                </div>
                <div ng-if="visibleBlock.initButton">
                    <h3>Принцип одной кнопки</h3>
                    <p>
                        Кликнув на эту кнопку вы активируте главу. Дальнейшие действия будут происходить от имени этой главы. Например создание свзяей или потоков.
                        Для того что бы отменить активацию вы можете нажать правую клавишу мышки
                    </p>
                </div>
            </div>
            <div class="chapter-block" ng-class="{acitve: visibleBlock.parentChapter || visibleBlock.fakeChapter}">
                <div ng-if="!visibleBlock.parentChapter && !visibleBlock.fakeChapter">
                    <h3>Отложенный выбор</h3>
                    <p>
                        Используя отложенный выбор вы можете, например, дать возможность читателю в начале произведения выбрать, что собираясь утром, положит в нагрудный карман ваш герой: перочинный нож или наручные часы, напоминающие о любимой.
                    </p>
                </div>
                <div ng-if="visibleBlock.parentChapter">
                    <h3>Разрыв связи</h3>
                    <p>
                        Данную кнопку вы увидите на тех главах с которыми уже существует связь. Соотвественно нажав на неё вы разорвёте существующую связь
                    </p>
                </div>
                <div ng-if="visibleBlock.fakeChapter">
                    <h3>Создание новой главы</h3>
                    <p>
                        Так выглядит виртуальная глава. Нажмите на неё, что бы создать главу.
                    </p>
                </div>
            </div>

        </div>
        <div class="center-column">
            <div class="chapter-block" id="add-chapter"
                 ng-mouseenter="visibleBlock.initButton = true"
                 ng-mouseleave="visibleBlock.initButton = false"></div>
            <div class="chapter-block" id="available-chapter"
                 ng-mouseenter="visibleBlock.availableChapter = true"
                 ng-mouseleave="visibleBlock.availableChapter = false"></div>
            <div class="chapter-block" id="parent-chapter"
                 ng-mouseenter="visibleBlock.parentChapter = true"
                 ng-mouseleave="visibleBlock.parentChapter = false"></div>
            <div class="chapter-block" id="remove-chapter"
                 ng-mouseenter="visibleBlock.removeChapter = true"
                 ng-mouseleave="visibleBlock.removeChapter = false"></div>
            <div class="chapter-block" id="fake-chapter"
                 ng-mouseenter="visibleBlock.fakeChapter = true"
                 ng-mouseleave="visibleBlock.fakeChapter = false"></div>
        </div>
        <div class="side-column">
            <div class="chapter-block" ng-class="{acitve: visibleBlock.availableChapter}">
                <div ng-if="!visibleBlock.availableChapter">
                    <h3>Накопление решений</h3>
                    <p>
                        Следующий инструмент, который предоставляет наш портал, является Решения. Способов применения много, но в первую очередь я бы хотел остановиться на двух базовых: Отложенный выбор и Накопление решений
                    </p>
                </div>
                <div ng-if="visibleBlock.availableChapter">
                    <h3>Создать связь</h3>
                    <p>
                        Данная кнопка даёт возможность установить связь из активной главы в выбранную.
                    </p>
                </div>
            </div>

            <div class="chapter-block" ng-class="{acitve: visibleBlock.removeChapter}">
                <div ng-if="!visibleBlock.removeChapter">
                    <h3>Произведения с циклическими структурами</h3>
                    <p>
                        Вот мы и добрались до одной из самой сложных структуры стоящей на грани книги и игры. Многое из того что вы прочитаете дальше будет вызывать у вас ассоциации с компьютерными играми. Это не случайно, ведь там данные структуры расцвели в полной красе. 
                        
                    </p>
                </div>
                <div ng-if="visibleBlock.removeChapter">
                    <h3>Удаление главы</h3>
                    <p>
                        Нажмите что бы удалить выбранную главу. Что может быть проще?
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="team">
        <div class="block-header">
            <div class="tag-block">
                <span class="tag">features</span>
            </div>
            <h1><span class="big-shadow">Команда</span><span class="main-text">Команда</span></h1>
            <div class="line"></div>
        </div>
        <div class="team-member">
            <div>
                <img src="/Content/landing/team-dev.png" />
                <p>
                    Pavel Optimist
                </p>
                <p class="role">
                    Developer
                </p>
                <p>
                    Smart
                </p>
            </div>
            <div>
                <img src="/Content/landing/team-design.png" />
                <p>
                    Denis Grinevich
                </p>
                <p class="role">
                    Designer
                </p>
                <p>
                    Cool
                </p>
            </div>
            <div>
                <img src="/Content/landing/team-info.png" />
                <p>
                    Alex
                </p>
                <p class="role">
                    Humanist
                </p>
                <p>
                    Crusader
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="left">
            <p>
                Вы хотите начать прямо сейчас
            </p>
            <p class="small">
                Вы хотите начать прямо сейчас
            </p>
        </div>
        <div class="login-block">
            <input ng-model="loginObj.Name" placeholder="name" /><input ng-model="loginObj.Email" placeholder="email" /><input ng-model="loginObj.Password" placeholder="password" /><input type="button" value="Скорее зарегистрироваться" ng-click="register()" /><!--ng-show="!user"-->
        </div>
    </footer>
</div>