<div class="content" id="landing">
    <div class="login">
        <h1>
            WELCOME
        </h1>
        <div class="desc">
            <p>
                Дамы и господа,
            </p>
            <p>
                Цифровая эпоха открыла перед литераторами множество перспектив повествования –  от использования гипертекстовых структур до индивидуализации художественной формы. Диалог между автором и читателем сегодня перестает быть абстрактным понятием. Благодаря инструментам приложения naractivity у каждого из нас есть возможность принять участие в производстве новой литературной формы. Она основана на повествовательной динамике, способности влиять на сюжет, а также на гибкости границ между автором и потребителем. Отныне чтение – это акт творческого производства.
            </p>
        </div>
        <div class="login-block">
            <input ng-model="loginObj.Email" placeholder="email" />
            <input type="password" ng-model="loginObj.Password" placeholder="password" />
            <input type="button" value="Зарегистрироваться" ng-click="register()" /><!--ng-show="!user"-->
        </div>
    </div>
    <div class="features">
        <div class="block-header">
            <div class="tag-block">
                <span class="tag">about</span>
            </div>
            <h1><span class="big-shadow">Возможности</span><span class="main-text">Возможности</span></h1>
            <div class="line"></div>
        </div>
        <div class="text">
            <p>
                Веб-сервис «Naractivity» предназначен для проектирования интерактивных произведений и организации смысло-содержательных связей внутри них, а также для удобного чтения текстов подобного рода. Обладая важным свойством – несводимостью содержания к одному и тому же тексту, его вероятностное обновление после каждого прочтения – динамичная литература аккумулирует вокруг себя ряд отличительных возможностей
            </p>
            <p>
                Особую важность приобретают понятия следа/сборки прочтения, как итога производства читателем текста через ответственный выбор, а также нарактивного повествования, т.е. такой структуры художественного текста, неотъемлемым атрибутом которой является направленность на динамизм содержания и предоставление читателю как можно большего количество вероятностных возможностей сборки.
            </p>
            <p>
                Автор получает широкий коммуникативный инструментарий для осуществления творческих экспериментов. Отзывчивая структура текста позволит пересмотреть «забытые» сегодня литературные жанровые формы – в частности, формата диалога. Автор сможет связать не только различные сюжеты и их вариации, но несколько повествовательных потоков. Читатель, в свою очередь, получит возможность выбора из множества лиц и фокусов действия. Более того, феномен нарактивного повествования позволяет продумать способы объединения литературных текстов через систему ссылок и условий выбора. Объединению могут подлежать как тексты одного автора, так и нарративны различных авторов.
            </p>
        </div>
    </div>
    <div class="example">
        <div class="block-header">
            <div class="tag-block">
                <span class="tag">features</span>
            </div>
            <h1><span class="big-shadow">ПРИМЕРЫ</span><span class="main-text">ПРИМЕРЫ ОСНОВНЫХ ДЕЙСТВИЙ</span></h1>
            <div class="line"></div>
        </div>
        <div class="side-column">
            <div class="chapter-block" ng-class="{acitve: visibleBlock.initButton}">
                <div ng-if="!visibleBlock.initButton">
                    <h3>Ответственное чтение</h3>
                    <p>
                        Осуществление читательского выбора и оказание влияния на ход повествования.
                    </p>
                </div>
                <div ng-if="visibleBlock.initButton">
                    <h3>Принцип одной кнопки</h3>
                    <p>
                        Кликнув на эту кнопку вы активируте главу. Дальнейшие действия будут происходить от имени этой главы. Например создание свзяей или потоков.
                        Для того что бы отменить активацию вы можете нажать правую клавишу мышки
                    </p>
                </div>
            </div>
            <div class="chapter-block" ng-class="{acitve: visibleBlock.parentChapter || visibleBlock.fakeChapter}">
                <div ng-if="!visibleBlock.parentChapter && !visibleBlock.fakeChapter">
                    <h3>След прочтения</h3>
                    <p>
                        Формирование результата читательских как следа прочтения и возможность его последующего скачивания одним файлом, в "Кабинете пользователя".
                    </p>
                </div>
                <div ng-if="visibleBlock.parentChapter">
                    <h3>Разрыв связи</h3>
                    <p>
                        Данную кнопку вы увидите на тех главах с которыми уже существует связь. Соотвественно нажав на неё вы разорвёте существующую связь
                    </p>
                </div>
                <div ng-if="visibleBlock.fakeChapter">
                    <h3>Создание новой главы</h3>
                    <p>
                        Так выглядит виртуальная глава. Нажмите на неё, что бы создать главу.
                    </p>
                </div>
            </div>

        </div>
        <div class="center-column">
            <div class="chapter-block" id="add-chapter"
                 ng-mouseenter="visibleBlock.initButton = true"
                 ng-mouseleave="visibleBlock.initButton = false"></div>
            <div class="chapter-block" id="available-chapter"
                 ng-mouseenter="visibleBlock.availableChapter = true"
                 ng-mouseleave="visibleBlock.availableChapter = false"></div>
            <div class="chapter-block" id="parent-chapter"
                 ng-mouseenter="visibleBlock.parentChapter = true"
                 ng-mouseleave="visibleBlock.parentChapter = false"></div>
            <div class="chapter-block" id="remove-chapter"
                 ng-mouseenter="visibleBlock.removeChapter = true"
                 ng-mouseleave="visibleBlock.removeChapter = false"></div>
            <div class="chapter-block" id="fake-chapter"
                 ng-mouseenter="visibleBlock.fakeChapter = true"
                 ng-mouseleave="visibleBlock.fakeChapter = false"></div>
        </div>
        <div class="side-column">
            <div class="chapter-block" ng-class="{acitve: visibleBlock.availableChapter}">
                <div ng-if="!visibleBlock.availableChapter">
                    <h3>Проектирование динамичных форм</h3>
                    <p>
                        С помощью сетки структурных связей, автор может как добавлять/удалять главы в повествовании, так и создавать между ними новые связи и зависимости. Предусмотрена возможность совместной работы над проектом нескольких авторов.
                    </p>
                </div>
                <div ng-if="visibleBlock.availableChapter">
                    <h3>Создать связь</h3>
                    <p>
                        Данная кнопка даёт возможность установить связь из активной главы в выбранную.
                    </p>
                </div>
            </div>

            <div class="chapter-block" ng-class="{acitve: visibleBlock.removeChapter}">
                <div ng-if="!visibleBlock.removeChapter">
                    <h3>Условия перехода</h3>
                    <p>
                        Внутри каждой из глав, автором могут быть заданы условия перехода к последующим фрагментам повествования.
                    </p>
                </div>
                <div ng-if="visibleBlock.removeChapter">
                    <h3>Удаление главы</h3>
                    <p>
                        Нажмите что бы удалить выбранную главу. Что может быть проще?
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="team">
        <div class="block-header">
            <div class="tag-block">
                <span class="tag">features</span>
            </div>
            <h1><span class="big-shadow">Команда</span><span class="main-text">Команда</span></h1>
            <div class="line"></div>
        </div>
        <div class="team-member">
            <div>
                <img src="/Content/landing/team-dev.png" />
                <p>
                    Pavel Optimist
                </p>
                <p class="role">
                    Developer
                </p>
                <p>
                    Smart
                </p>
            </div>
            <div>
                <img src="/Content/landing/team-design.png" />
                <p>
                    Denis Grinevich
                </p>
                <p class="role">
                    Designer
                </p>
                <p>
                    Cool
                </p>
            </div>
            <div>
                <img src="/Content/landing/team-info.png" />
                <p>
                    Alex
                </p>
                <p class="role">
                    Humanist
                </p>
                <p>
                    Crusader
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="left">
            <p>
                Хорошего дня
            </p>
            <p class="small">
                Будьте счастливы
            </p>
        </div>
        <div class="login-block">
            <input ng-model="loginObj.Email" placeholder="email" /><input ng-model="loginObj.Password" placeholder="password" /><input type="button" value="Зарегистрироваться" ng-click="register()" /><!--ng-show="!user"-->
        </div>
    </footer>
</div>