<div class="content" id="landing">
    <div class="features">
        <h1><span class="big-shadow">Возможности</span><span class="main-text">Возможности</span></h1>
        <div class="text">
            <p>
                Давайте на этом примере введём важную цифру, а именно процент пропущенных глав. Читатель, какой бы путь он не выбрал, прочитает лишь 4 главы, в то время как автору пришлось прописать 15 главы. Иными словами почти 75% глав были пропущены. С увеличением количества выборов предоставляемых читателю данное число растёт по экспоненте. Для решения этой проблемы используются ложные выборы. Автор, даёт на выбор одну или несколько глав, результат которых, так или иначе, приходит в одну точку (главу). Это позволяет избегать излишнего ветвления, снижает процент пропущенных глав, при этом оставляя читателю ощущение постоянного участия в событиях.
            </p>
            <p>
                Здесь хотелось бы остановиться на очевидном, но, тем не менее, важном замечании. Ложное ветвление лишь инструмент, как и любой другой инструмент, он может испортить произведение при неумелом обращении. Если читатель почувствует, что от его решений ничего не зависит, это серьёзно испортит его впечатления от произведения. Потому старайтесь не злоупотреблять ложными выборами, до тех пор, пока вы не сможете мастерски маскировать от читателя, какой из выборов ложный, а какой определит всю дальнейшую судьбу произведения.
            </p>
            <p>
                Следующий инструмент, который предоставляет наш портал, является Решения. Способов применения много, но в первую очередь я бы хотел остановиться на двух базовых: Отложенный выбор и Накопление решений.
            </p>
        </div>
    </div>
    <div class="example">
        <h1><span class="big-shadow">Возможности</span><span class="main-text">Возможности</span></h1>
        <div class="side-column">
            <div class="chapter-block">
                <h3>Решения</h3>
                <p>
                    Следующий инструмент, который предоставляет наш портал, является Решения. Способов применения много, но в первую очередь я бы хотел остановиться на двух базовых: Отложенный выбор и Накопление решений.
                </p>
            </div>
            <div class="chapter-block">
                <h3>Отложенный выбор</h3>
                <p>
                    Используя отложенный выбор вы можете, например, дать возможность читателю в начале произведения выбрать, что собираясь утром, положит в нагрудный карман ваш герой: перочинный нож или наручные часы, напоминающие о любимой.
                    А затем вернуться к этому выбору лишь в конце произведения, в самый напряжённый момент, направив концовку.
                </p>
            </div>
        </div>
        <div class="center-column">
            <div class="chapter-block" id="add-chapter"></div>
            <div class="chapter-block" id="available-chapter"></div>
            <div class="chapter-block" id="parent-chapter"></div>
            <div class="chapter-block" id="remove-chapter"></div>
            <div class="chapter-block" id="fake-chapter"></div>
        </div>
        <div class="side-column">
            <div class="chapter-block">
                <h3>Накопление решений</h3>
                <p>
                    Следующий инструмент, который предоставляет наш портал, является Решения. Способов применения много, но в первую очередь я бы хотел остановиться на двух базовых: Отложенный выбор и Накопление решений
                </p>
            </div>

            <div class="chapter-block">
                <h3>Произведения с циклическими структурами</h3>
                <p>
                    Вот мы и добрались до одной из самой сложных структуры стоящей на грани книги и игры. Многое из того что вы прочитаете дальше будет вызывать у вас ассоциации с компьютерными играми. Это не случайно, ведь там данные структуры расцвели в полной красе. НО! Всегда следует помнить, что ваше произведение в первую очередь книга, в которой есть элементы из других направлений, а не игра в которой много текста
                </p>
            </div>
        </div>
    </div>
</div>