<div class="content">
    <span ng-if="error" class="error">{{error}}</span>
    <p>
        Username: <input id="username" type="text" ng-model="user.Name" ng-disabled="waiting" />
    </p>
    <p>
        Password: <input id="password" type="password"
                         ng-keypress="passwordKeyPress($event)" ng-model="user.Password" ng-disabled="waiting" />
    </p>
    <p>
        <input id="login-btn" type="button" value="login" ng-click="login()" ng-disabled="waiting" />
        <img src="/Content/icon/wait.gif" ng-if="waiting" class="icon20" />
    </p>
</div>