<div class="content profile-page" ng-class="!user ? 'wait' : ''">
    <h2>Привет {{user.Name}}</h2>
    <div>
        <p ng-if="user.AvatarUrl">
            <img ng-src="{{user.AvatarUrl}}" style="max-width:50px" />
        </p>
        <p>
            <input type="file" fileread="user.newAvatarData" />
            <input type="button" ng-click="uploadAvatar()" value="upload new avatar" />
        </p>
    </div>
    <!--ng-if="user.IsWriter"-->
    <div>
        Как автор я хочу видеть рассширенную функциональность:
        <input type="checkbox"
               ng-model="user.ShowExtendedFunctionality"
               ng-change="updateShowExtendedFunctionality()"/>
        
    </div>
    <div>
        <h2>Мои путешествия</h2>
        <div ng-repeat="travel in travels">
            <h4>Путешествие по произведению "{{travel.Book.Name}}"</h4>
            <p>
                <a href="#" ng-click="removeTravel(travel.Id, $index)">Забыть (удалить)</a>
            </p>
            <p>
                <a ng-href="/rpg/download?travelId={{travel.Id}}" target="_blank">Скачать</a>
            </p>
        </div>
    </div>
</div>