<div class="content" ng-class="!user ? 'wait' : ''">
    <h2>Привет {{user.Name}}</h2>
    <div>
        <p ng-if="user.AvatarUrl">
            <img ng-src="{{user.AvatarUrl}}" style="max-width:50px" />
        </p>
        <p>
            <input type="file" fileread="user.newAvatarData" />
            <input type="button" ng-click="uploadAvatar()" value="upload new avatar" />
        </p>
    </div>
    <div>
        <h2>Мои путешествия</h2>
        <div ng-repeat="travel in travels">
            <a href="#" ng-click="removeTravel(travel.Id, $index)">Забыть прохождение "{{travel.Book.Name}}"</a>
        </div>
    </div>
</div>