<div class="content" id="questionnaires">
    <div ng-if="!questionnaires" class="wait-block">
        <img src="/Content/icon/wait.gif" />
    </div>
    <div ng-repeat="questionnaire in questionnaires" class="questionnaire" >
        <h3 ng-show="!questionnaire.isEdit" ng-click="questionnaire.isEdit = !questionnaire.isEdit">
            {{questionnaire.Name}}
        </h3>
        <h3 ng-show="questionnaire.isEdit">
            <input ng-model="questionnaire.Name" />
            <input type="button" value="ok" ng-click="saveQuestionnaire(questionnaire, $index)"/>
        </h3>
        <div ng-repeat="question in questionnaire.Questions" class="question">
            <p ng-if="!question.isEdit" ng-click="question.isEdit = !question.isEdit">
                {{question.Order}}) {{question.Text}}
            </p>
            <p ng-if="question.isEdit">
                {{question.Order}}) 
                <input ng-model="question.Text" />
                <input type="button" value="ok" ng-click="saveQuestion(questionnaire, question, $index)" />
            </p>
            <div ng-repeat="questionAnswer in question.QuestionAnswers" class="question-answers">
                {{questionAnswer.Text}} {{questionAnswer.Order}}
            </div>
            <p>
                <a href="#" ng-click="addQuestionAnswers(question)">
                    <span class="button-medium-blue">
                        {{resources.Reader_Questionnaire_AddQuestionAnswer}}
                    </span>
                </a>
            </p>
        </div>
        <p ng-show="!questionnaire.isEdit">
            <a href="#" ng-click="addQuestion(questionnaire)">
                <span class="button-medium-blue">
                    {{resources.Reader_Questionnaire_AddQuestion}}
                </span>
            </a>
        </p>
        
    </div>
    <div>
        <a href="#" ng-click="addQuestionnaire()">
            <span class="button-medium-blue">
                {{resources.Reader_Questionnaire_Add}}
            </span>
        </a>
    </div>
</div>