<div class="content" id="questionnaires">
    <div ng-if="!questionnaire" class="wait-block">
        <img src="/Content/icon/wait.gif" />
    </div>


    <div ng-show="!questionnaireAreDone">
        <div class="questionnaire">
            <h3>
                {{questionnaire.Name}}
            </h3>
            <div ng-repeat="question in questionnaire.Questions" class="question">
                <p>
                    <span ng-show="question.withoutAnswer" class="error-mark">*</span>
                    {{question.Order}}) {{question.Text}}
                </p>
                <div ng-repeat="questionAnswer in question.QuestionAnswers" class="question-answers">
                    <p ng-if="!question.AllowMultipleAnswers">
                        <label>
                            <input type="radio" ng-model="question.AnswerId" ng-value="questionAnswer.Id" />
                            {{questionAnswer.Order}}. {{questionAnswer.Text}}
                        </label>
                    </p>
                    <p ng-if="question.AllowMultipleAnswers">
                        <label>
                            <input type="checkbox"
                                   value="{{questionAnswer.Id}}"
                                   ng-checked="question.Answers.indexOf(questionAnswer.Id) > -1"
                                   ng-click="toggleSelection(question, questionAnswer.Id)" />
                            {{questionAnswer.Order}}. {{questionAnswer.Text}}
                        </label>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <a href="#" ng-click="saveAnswers()">
                <span class="button-medium-blue">
                    {{resources.Reader_Questionnaire_Finish}}
                </span>
            </a>
        </div>
    </div>
    <div ng-show="questionnaireAreDone">
        {{resources.Reader_Questionnaire_Thanks}}
    </div>
</div>