<div class="content">
    <h2>Регистрация</h2>
    <p>
        <a href="#" ng-click="vk()">vk login</a>
    </p>
    <p>
        Username: <input id="username" type="text" ng-model="user.Name" ng-disabled="waiting" ng-keypress="nameKeyPress($event)" />
    </p>
    <p>
        Email: <input id="email" type="email" ng-model="user.Email" ng-disabled="waiting" />
    </p>
    <p>
        Password: <input id="password" type="password" ng-model="user.Password" ng-disabled="waiting" ng-keypress="passwordKeyPress($event)" />
    </p>
    <p>
        <input id="register-btn" type="button" value="register" ng-click="register()" ng-disabled="waiting || !isUserValid()" />
        <img src="/Content/icon/wait.gif" ng-if="waiting" class="icon20" />
    </p>
</div>