<div id="travel" class="content" ng-class="!travel ? 'wait' : ''">
    <div class="header" ng-show="travel">
        {{travel.Chapter.Name}}
        <span ng-show="false">*{{travel.State}}</span>
    </div>
    <div class="body" ng-bind-html="travel.Chapter.Desc" ng-show="travel.Chapter"></div>
    <div class="chapter-links-block" ng-show="travel.Chapter">
        <div class="chapter-link" ng-repeat="chapterLink in travel.Chapter.LinksFromThisEvent">
            <div class="text" ng-if="chapterLink.Text">
                {{chapterLink.Text}}
            </div>
            <div class="action-button">
                <a href="#" ng-click="choice(chapterLink.Id)">
                    <span class="button-medium-blue">
                        {{chapterLink.Text ? 'Сделать выбор' : 'Далее'}}
                    </span>
                </a>
            </div>
        </div>
        <div ng-show="!travel.Chapter.LinksFromThisEvent || travel.Chapter.LinksFromThisEvent.length == 0">
            <a href="#" ng-click="travelIsEnd(travel.Id)">
                <span class="button-medium-blue">
                    Перейти к статистики
                </span>
            </a>
        </div>
    </div>
</div>