<div id="travel" class="content">
    <div ng-if="!travel" class="wait-block">
        <img src="/Content/icon/wait.gif" />
    </div>
    <div class="header" ng-show="travel">
        {{travel.Chapter.Name}}
        <span ng-show="false">*{{travel.State}}</span>
    </div>
    <div class="body" ng-bind-html="travel.Chapter.Desc" ng-show="travel.Chapter"></div>
    <div class="chapter-links-block" ng-show="travel.Chapter">
        <div>
            <a href="ar/reader/travel/{{travel.Id}}/{{travel.PrevChapterId}}" ng-if="travel.PrevChapterId">{{resources.Travel_Back}}</a>
            <a href="ar/reader/travel/{{travel.Id}}/{{travel.NextChapterId}}" ng-if="travel.NextChapterId">{{resources.Travel_Next}}</a>
        </div>
        <div class="chapter-link" ng-repeat="chapterLink in travel.Chapter.LinksFromThisChapter"
             ng-class="travel.NextChapterId && travel.NextChapterId != chapterLink.ToId ? 'lost-choice' : ''">

            <div class="text" ng-if="chapterLink.Text">
                {{chapterLink.Text}}
            </div>
            <div class="action-button">
                <a href="#" ng-click="choice(chapterLink)">
                    <span ng-class="travel.NextChapterId && travel.NextChapterId != chapterLink.ToId ? 'button-medium-gray' : 'button-medium-blue'">
                        {{chapterLink.Text ? resources.Travel_GetChosen : resources.Travel_Next}}
                    </span>
                </a>
            </div>
        </div>
        <div ng-show="!travel.Chapter.LinksFromThisChapter || travel.Chapter.LinksFromThisChapter.length == 0">
            <a ng-if="travel.Id > 0" href="ar/reader/travel-end/{{travel.Id}}">
                <span class="button-medium-blue">
                    {{resources.Travel_GoToStatistics}}
                </span>
            </a>
            <a ng-if="!travel.Id || travel.Id < 1" href="ar/reader/books">
                <span class="button-medium-blue">
                    {{resources.Travel_GoToListOfBook}}
                </span>
            </a>
        </div>
        
    </div>
</div>