<div class="hero-card">{{recalc()}}
    <p>
        <b>{{hero.Name}}</b> {{hero.Race.Name}} {{hero.Sex.Name}}
    </p>
    <!--<div class="main-bar health-bar" ng-if="MaxHp() > 0">
        <div class="bar" ng-style="hero.healthWidth"></div>
    </div>
    <span ng-if="MaxHp() > 0">
        Hp {Hp()}}/{MaxHp()}}
    </span>
    <div class="main-bar mana-bar" ng-if="MaxMp() > 0">
        <div class="bar" ng-style="hero.manaWidth"></div>
    </div>
    <span ng-if="MaxMp() > 0">
        Mp {Mp()}}/{MaxMp()}}
    </span>-->
    <hr/>
    <p><span ng-if="hero.State" ng-repeat="state in hero.State">
            {{state.StateType.Name}}:
            <span id="stateType-{{state.StateType.Id}}-Value">{{state.Number}}</span> |
        </span></p>
    <p><span ng-if="hero.Characteristics" ng-repeat="characteristic in hero.Characteristics">{{characteristic.CharacteristicType.Name}}: {{characteristic.Number}} | </span></p>
    <hr />
    <p ng-if="hero.Skills && hero.Skills.length > 0">
        <b>Умения</b>:
        <span ng-if="hero.Skills" ng-repeat="skill in hero.Skills" class="skill {{::skill.School.Name}}"> {{::skill.Name}}</span>
    </p>
    <hr ng-if="hero.Inventory && hero.Inventory.length > 0" />
    <p ng-if="hero.Inventory && hero.Inventory.length > 0">
        <b>Инвентарь</b>:
        <span ng-if="hero.Inventory" ng-repeat="thing in hero.Inventory" class="skill">
            {{::thing.ThingSample.Name}}<span ng-if="!thing.ItemInUse">: {{::thing.Count}}</span>
            <span ng-if="thing.ItemInUse">+</span>
        </span>
    </p>
</div>