<div class="block900">
    <p>
        Здравствуй уважаемый творец. Я бы хотел в двух словах описать тебе зачем существует данный проект.
    </p>
    <ul>
        <li>
            Утверждение 1. Люди читали, читают и продолжат читать книги.
        </li>
        <li>
            Утверждение 2. Ни что не остановит прогресс. Подавляющее число читающих граждан использую электронные устройства для чтения.
        </li>
    </ul>
    <p>
        Это база которая и порадила идею о создании портала для чтения и создания интерактивной книги. Мы не тешим себя ложным предположением будто подобная идея нова. Ещё в 50-х годах прошлого века были изданы первые книги данного жанра. Однако лишь с расспростанением электронных устройств данную идеи можно расскрыть в полную силу.
    </p>
    <p style="text-align: center;">
        Воруй как художник.
    </p>
    <p>
        Безусловно потенциал художественного произведения, в котором читателя вовлекают в сюжет, дают возможность изменить сюжет, а вместе с тем и отственность за результат известен не только нам. Так в США всё больший размах приобретают игры в стиле интерактивного кино. В Японии фактически был создан жанр комьютерных визуальных новеллы. Мы же в свою очередь полагаем, что возможность читателя влиять на события в книге может открыть перед автором невероятные горизонты.
    </p>
    <p>
        Если главный герой произведения принимает решения которые сделал бы и читатель, такой герой западает читателю в душу. Это изветсно любому автору. Вот только подстроиться под каждого читателя нет никакой возможности. А потому творцам приходится использовать множество сложных приёмов, от устреднённого героя, до сокрытия некоторых действий с демонстрацией лишь их последствий. В противном случае автору приходится изначально отрезать часть потенциальной аудитории.
    </p>
</div>