<div class="block900">
    <h1>Зачем вам это?</h1>
    <p>Здравствуй уважаемый творец. Я бы хотел в двух словах описать тебе зачем существует данный проект.</p>
    <ul>
        <li>Утверждение 1. Люди читали, читают и продолжат читать книги.</li>
        <li>Утверждение 2. Ни что не остановит прогресс. Подавляющее число читающих граждан использую электронные устройства для чтения.</li>
    </ul>
    <p>Этот базис и порадил идею о создании портала для чтения и создания интерактивной книги. Эта идея не нова. Ещё в 50-х годах прошлого века были изданы первые книги данного жанра. Однако лишь с расспростанением электронных устройств данную идеи можно расскрыть в полную силу.</p>
    <h3>Воруй как художник.</h3>
    <p>Безусловно потенциал интерактивного художественного произведения известен не только нам. Когда читателя вовлекают в события, когда дают возможность изменить сюжет, появляется отственность за результат, а вместе с тем куда как более глубокое погружение. Так в США всё больший размах приобретают игры в стиле интерактивного кино. В Японии фактически был создан жанр комьютерных визуальных новелл. Мы же в свою очередь полагаем, что возможность читателя влиять на события в книге может открыть перед автором невероятные горизонты.</p>
    <p>Если главный герой произведения принимает решения которые близки и понятны читателю, такой герой западает читателю в душу. Это изветсно любому автору. Вот только подстроиться под каждого читателя нет никакой возможности. А потому творцам приходится использовать множество сложных приёмов, от усреднённого героя, до сокрытия некоторых действий с демонстрацией лишь их последствий, что бы читатель сам заполнил пустоту своей фантазией. В противном случае автору приходится изначально отрезать часть потенциальной аудитории.</p>
    <p>Мы предлагаем инструмент для тонкого решения подобных задач.</p>
    <h1>Классический вид:</h1>
    <p>Мальчик встретил девочку. Мальчик был уверенным и красивым, но эгоистом. Девочка была мила собой. Мальчик любил своих родителей и всячески им помогал. Девочка любила животных и каждый день гуляла со своим псом.</p>
    <p>Однажды на утренней пробежке мальчик увидел как девочка заболиво осматривала лапу своего пса, и его сердце познало смысл слов &laquo;забота о ближнем&raquo;.</p>
    <p>Мальчик начал ухаживать за девочкой, но та сторонилась его, потому что её маму бросил папа. Как-то раз девочка увидела мальчика, заботливо помогающего своей маме нести сумки и её сердце оттаяло, она поняла, что не все мальчики плохие. И жили они долго и счастливо.</p>
    <h1>Разбор</h1>
    <p>Обязательно ли в этой истории что бы мальчик был эгоистом? Нет. Но мальчик должен быть достойным счастья в глазах читателя, а для этого он должен измениться в лучшую сторону. Потому если изменить его отрицательную черту с эгоиста на трус, то из всего текста должно измениться лишь два места: место ввода негативной черты и обзац с путём преодоления этого минуса.</p>
    <p>Тоже касается и девочки. Ведь совсем не обязательно что бы девочка опасалась мальчиков из-за плохого отца.</p>
    <p>Что мы имеем по итогу? Набор опций по выбору которого выстраивается наше произведение.</p>

    <p>
        <span class="story-type">Тип истории:</span>
        <label ng-repeat="storyType in storyTypes">
            <input type="radio" ng-model="story.storyType" ng-value="storyType" /> {{storyType.name}}
        </label>
    </p>
    <p>
        <span class="male-minus">Негативная черта мальчика:</span>        
        <label ng-repeat="negativeType in negativeTypes">
            <input type="radio" ng-model="male.negativeType" ng-value="negativeType" /> {{negativeType.name}}
        </label>
    </p>
    <p>
        <span class="female-complex">Комлексы девочки:</span>
        <label ng-repeat="complexType in complexTypes">
            <input type="radio" ng-model="female.complexType" ng-value="complexType" /> {{complexType.name}}
        </label>
    </p>

    <h3>Мальчик и девочка</h3>

    <p>
        <span class="story-type">{{story.storyType.start}}</span>
        Мальчик был уверенным и красивым, но <span class="male-minus">{{male.negativeType.text}}</span>.
        Девочка была мила собой.
        Мальчик любил своих родителей и всячески им помогал.
        Девочка любила животных и каждый день гуляла со своим псом.
    </p>
    <p>
        <span class="male-minus">
            {{male.negativeType.solution}}
        </span>
    </p>
    <p>
        Мальчик начал ухаживать за девочкой, но та сторонилась его.
        <span class="female-complex">{{female.complexType.text}}</span>
        <span class="female-complex">{{female.complexType.solution}}</span>
        
    </p>
    <p>
        <span class="story-type">{{story.storyType.end}}</span>        
    </p>

    <h1>Заключение</h1>
    <p>Данный пример был создан лишь для того что бы ввести вас в общую концепцию Динамеческой книги.</p>
    <p>Если она вас заинтересовала, рекомендую проследовать на страницу с детальным описание инструмунтов предоставляемых нашим сайтом.</p>
    <p>Там же вы найдёте примеры</p>
</div>