<div>
    <div>
        <h2>Список квестов <a ng-href="#" ng-click="addQuest()"><img src="/Content/add.png" class="icon20"></a></h2>
        <p ng-repeat="quest in quests">
            <a ng-href="#" ng-click="selectQuest(quest)">{{quest.Name}}</a>
            <a ng-href="#" ng-click="removeQuest(quest, $index)"><img src="/Content/delete.png" class="icon20"></a>
        </p>

        <a ng-href="#" ng-click="clearActiveQuest()">Снять выделение</a>
    </div>
    <form novalidate class="left" ng-if="quest" style="width: 600px;">
        <input type="submit" ng-click="submitQuest()" value="Save" />
        <p>
            Name: <input type="text" ng-model="quest.Name" />
        </p>
        <p>
            Desc: <textarea ng-model="quest.Desc" style="width: 500px; height: 50px;"></textarea>
        </p>
        <div style="height: 30px;">
            <select ng-model="currentEvent" ng-options="event as event.Name for event in quest.AllEvents" ng-change="currentEventWasChanged()"></select>
            <input type="button" value="add one more" ng-click="addEvent()" />
        </div>
        <div style="float: left; width: 540px;">
            <div class="event">
                <input type="hidden" value="currentEvent.Id"/>
                <p>
                    Name: <input type="text" ng-model="currentEvent.Name"/>
                </p>
                <p>
                    ProgressChanging: <input type="text" ng-model="currentEvent.ProgressChanging"/>
                </p>
                <p>
                    Desc: <textarea ng-model="currentEvent.Desc" style="width: 500px; height: 50px;"></textarea>
                </p>
                <p>
                    Parent Events:
                    <span ng-repeat="parentEvent in getParentEvent(currentEvent)">
                         | {{parentEvent.Name}}<a href="#" ng-click="removeConnectionParentEvent(currentEvent, parentEvent.Id)">--</a>
                    </span>

                    Add ->
                    <select ng-model="event1" ng-options="event as event.Name for event in quest.AllEvents"></select>
                    <a href="#" ng-click="addConnection(event1, currentEvent)">+</a>
                </p>
                <p>
                    Children Events:
                    <span ng-repeat="childEvent in currentEvent.EventLinkItems">
                        | {{childEvent.Name}}<a href="#" ng-click="removeConnectionChildEvent(currentEvent, childEvent.Id)">--</a>
                    </span>

                    Add ->
                    <select ng-model="event2" ng-options="event as event.Name for event in quest.AllEvents"></select>
                    <a href="#" ng-click="addConnection(currentEvent, event2)">+</a>
                </p>
                <p>
                    RequirementSex:
                    <select ng-model="currentEvent.RequirementSex.Value" ng-options="option.value as option.name for option in SexList"></select>
                </p>
                <p>
                    RequirementRace:
                    <select ng-model="currentEvent.RequirementRace.Value" ng-options="option.value as option.name for option in RaceList"></select>
                </p>
                <p>
                    RequirementSkill:
                    <span ng-repeat="skill in currentEvent.RequirementSkill">{{skill.Name}} <a ng-click="removeSkill(skill)">-</a></span>
                    <select ng-model="someSkill" ng-options="option.value as option.name for option in SkillList"></select>
                    <a ng-click="addSkill()">+</a>
                </p>
                <p>
                    RequirementCharacteristics:
                    <select ng-model="currentEvent.RequirementCharacteristics" ng-options="option.value as option.name for option in CharacteristicList"></select>
                </p>

                <p>
                    Hero StatesChanged:
                    <span ng-repeat="state in HeroStatesChanging">{{state.StateType.Name}}: {{state.Number}}</span>
                </p>

                <input type="button" value="Save changes" ng-click="saveEvent(currentEvent)"/>
                <input type="button" value="Remove event" ng-click="removeEvent(currentEvent)"/>
            </div>
        </div>
        <div style="float: left; width: 530px">{{ currentEvent }}</div>

    </form>

    <div id="eventsGraph" style="border: 1px red solid; width: 900px; height: 200px; float: left;"></div>

    <!--<ng-quest-info quest="quest"></ng-quest-info>-->
</div>