<div>
    <form novalidate class="left" >
        <input type="submit" ng-click="submitQuest()" value="Save" />
        <p>
            Name: <input type="text" ng-model="quest.Name" />
        </p>
        <p>
            Desc: <textarea ng-model="quest.Desc" style="width: 500px; height: 50px;"></textarea>
        </p>

        <div style="float: left; width: 540px;">
            <div class="event" ng-repeat="event in quest.AllEvents">
                <p>
                    Name: <input type="text" ng-model="event.Name"/>
                </p>
                <p>
                    ProgressChanging: <input type="text" ng-model="event.ProgressChanging"/>
                </p>
                <p>
                    Desc: <textarea ng-model="event.Desc" style="width: 500px; height: 50px;"></textarea>
                </p>
                <p>
                    RequrmentSex:
                    <select ng-model="event.RequrmentSex.Value" ng-options="option.value as option.name for option in SexList"></select>
                </p>
                <p>
                    RequrmentRace:
                    <select ng-model="event.RequrmentRace.Value" ng-options="option.value as option.name for option in RaceList"></select>
                </p>
                <p>
                    RequrmentSkill:
                    <span ng-repeat="skill in event.RequrmentSkill">{{skill.Name}} <a ng-click="removeSkill(skill)">-</a></span>
                    <select ng-model="someSkill" ng-options="option.value as option.name for option in SkillList"></select>
                    <a ng-click="addSkill()">+</a>
                </p>
                <p>
                    RequrmentCharacteristics:
                    <select ng-model="event.RequrmentCharacteristics" ng-options="option.value as option.name for option in CharacteristicList"></select>
                </p>

                <p>
                    Hero StatesChanged:
                    <span ng-repeat="state in HeroStatesChanging">{{state.StateType.Name}}: {{state.Number}}</span>
                </p>

                <input type="button" value="Remove event" ng-click="removeEvent(event)"/>
            </div>
        </div>

        <div id="eventsGraph" style="border: 1px red solid; width: 900px; height: 600px; float: left;"></div>
        <div style="float: left; width: 800px">{{ quest }}</div>

        <input type="button" value="Add event" ng-click="addEvent()" style="float: left; clear: both;" />
    </form>

    <!--<ng-quest-info quest="quest"></ng-quest-info>-->
</div>