<div>
    <h1>Сражение!</h1>
    <div>
        <div class="block300 left">
            Герой
            <ng-hero-card hero="hero"></ng-hero-card>
            <p ng-if="!battleEnd">
                Применить умение:
                <a href="#" ng-repeat="skill in hero.Skills" class="skill {{::skill.School.Name}}" ng-click="attack(skill)" > {{::skill.Name}}</a>
            </p>
        </div>

        <div class="block300 left">
            Враг
            <ng-hero-card hero="enemy"></ng-hero-card>
        </div>
    </div>
    <div ng-if="battleEnd">
        Бой завершён <a href="AngularRoute/guild">Вернуться в гильдию</a>
    </div>

    <div>
        {{report}}
    </div>
</div>