<div>
    <h1>Создать героя</h1>
    <div>
        <input type="button" value="Назад" ng-click="prevStep()" ng-disabled="step==1"/>
        <input type="button" value="След" ng-click="nextStep()" ng-disabled="step==4"/>
        <input type="button" value="Сохранить героя" ng-click="saveHero()" ng-if="step == 4"/>
    </div>

    <div class="total-container"  ng-if="step == 1">
        <div class="avatars-container left">
            <div class="avatar left" ng-repeat="race in RaceList" ng-class="hero.Race == race.value ? 'active' : ''">
                <input id="race{{race.value}}" type="radio" name="race" ng-model="hero.Race" value="{{race.value}}"/>
                <label for="race{{race.value}}">
                    <img ng-src="{{::race.src}}" alt="{{::race.name}}">
                </label>
            </div>
        </div>
    </div>

    <div class="total-container" ng-if="step == 2">
        <div class="avatars-container left">
            <div class="avatar left" ng-repeat="sex in SexList" ng-class="hero.Sex == sex.value ? 'active' : ''">
                <input id="race{{sex.value}}" type="radio" name="race" ng-model="hero.Sex" value="{{sex.value}}"/>
                <label for="race{{sex.value}}">
                    <img ng-src="{{::sex.src}}" alt="{{::sex.name}}">
                </label>
            </div>
        </div>
    </div>

    <div style="float: left; width: 300px;" ng-if="step == 3">
        Name <input type="text" ng-model="hero.Name"/>
        <div>
            <p>Free stat: {{freeStat}}</p>
            <p ng-repeat="stat in hero.Characteristics">{{stat.Name}}: {{stat.Value}} <a href="#" ng-click="addStat(stat)">+</a>/<a href="#" ng-click="minusStat(stat)">-</a>
            </p>
        </div>
    </div>

    <div style="float: left; width: 300px;" ng-if="step == 4">
        <ng-hero-card VkHero="VkVkHero"></ng-VkVkHero-card>
    </div>

    <ng-hero-card VkHero="VkVkHero"></ng-VkVkHero-card>
</div>