<div class="block900">
    <h1>Основные понятия и типы Интерактивной книги.</h1>
    <p>Идея возможности выбора читателем развития сюжета выглядит простой, однако за этой простотой скрыто множество сложных структур. Предлагаем рассмотреть некоторые типовые решения и их особенности.</p>
    <p>Глобально интерактивные произведения можно разделить на две группы:</p>
    <ul>
        <li>Произведения с циклическими структурами</li>
        <li>Произведения прямого повествования</li>
    </ul>
    <p>Начнём с рассмотрения последних, так как они проще в восприятии и ближе к классическим книгам.</p>
    <h2>Произведения прямого повествования</h2>
    <h3>Ложные выборы vs ветвление</h3>
    <p>В произведениях с прямым повествованием у каждой главы может быть от одного до нескольких потомков. Одним из крайних случаев подобной структуры является дерево глав, где у каждой главы есть два потомка.</p>
    <p>
        <img src="/Content/defenitionExample/01.png" />
    </p>
    <p>Давайте на этом примере введём важную цифру, а именно процент пропущенных глав. Читатель, какой бы путь он не выбрал, прочитает лишь 4 главы, в то время как автору пришлось прописать 15 главы. Иными словами почти 75% глав были пропущены. С увеличением количества выборов предоставляемых читателю данное число растёт по экспоненте. Для решения этой проблемы используются ложные выборы. Автор, даёт на выбор одну или несколько глав, результат которых, так или иначе, приходит в одну точку (главу). Это позволяет избегать излишнего ветвления, снижает процент пропущенных глав, при этом оставляя читателю ощущение постоянного участия в событиях.</p>
    <p>Здесь хотелось бы остановиться на очевидном, но, тем не менее, важном замечании. Ложное ветвление лишь инструмент, как и любой другой инструмент, он может испортить произведение при неумелом обращении. Если читатель почувствует, что от его решений ничего не зависит, это серьёзно испортит его впечатления от произведения. Потому старайтесь не злоупотреблять ложными выборами, до тех пор, пока вы не сможете мастерски маскировать от читателя, какой из выборов ложный, а какой определит всю дальнейшую судьбу произведения.</p>
    <p>
        <img src="/Content/defenitionExample/02.jpg" style="max-width: 900px;" />
    </p>
    <p>На рисунке вы можете видеть схему произведения, комбинирующая ложные выборы и ветвление. Как и в первом примере, здесь читателю будут предоставлены до 4 выборов. При этом процент пропущенных глав снижен с 75% до 35%. Из 11 глав читатель увидит 6-7. Что не менее важно, при комбинировании ветвления и ложного выбора с ростом произведения процент пропущенных глав остаётся в пределах 20-40 процентов.</p>
    <h3>Решения</h3>
    <p>Следующий инструмент, который предоставляет наш портал, является Решения. Способов применения много, но в первую очередь я бы хотел остановиться на двух базовых:</p>
    <ul>
        <li>Отложенный выбор</li>
        <li>Накопление решений</li>
    </ul>
    <h3>Отложенный выбор</h3>
    <p>Используя отложенный выбор вы можете, например, дать возможность читателю в начале произведения выбрать, что собираясь утром, положит в нагрудный карман ваш герой: перочинный нож или наручные часы, напоминающие о любимой. А затем вернуться к этому выбору лишь в конце произведения, в самый напряжённый момент, направив концовку либо в сторону кровавой расправы в случае если был выбран нож, либо в сторону мирного решения если были выбраны часы.</p>
    <p>
        <img src="/Content/defenitionExample/03.jpg" />
    </p>
    <p>Механика использование данного инструмента, следующая. Вы можете добавлять любые Решения на входе в главу. Так на схеме при входе в главу «Глава 2.1» читателю в графу Решения будет добавлен «Нож», а при прочтении Главы 2.2 в Решениях будет запись «Часы». Это можно сделать как в скрытом режиме так и в явном. Разница лишь в том, что во втором случае, на протяжении всего произведения, читатель будет видеть, что он носит с собой Нож/Часы любимой, а в первом случае, данная информация будет доступна лишь системе для вычисления пути.</p>
    <p>А далее можно наложить условия для входа в главу. Так, несмотря на то что у произведения три концовки, любой читатель будет видеть лишь два варианта:</p>
    <ol>
        <li>Кровавая и нейтральная если в Решениях есть запись о Ноже</li>
        <li>Нейтральная и Мирная в случае если Решения хранит запись о Часах</li>
    </ol>
    <h3>Накопление решений</h3>
    <p>И вот мы подходим к самому сложному и важному инструменту, который позволяет создавать качественно иные произведения. Если коротко то решения в ложных выборах должны суммироваться давая множественный выбор концовок при минимальном ветвлении.</p>
    <p>Рассмотрим в качестве примера следующую структуру любовного произведения</p>
    <p>Глава 1. Наш главный Герой рассказывает, что он накопил 200 рублей. Это тут же вносится в качестве видимого читателю Решения. После чего Герой планируется поход в кино где собирается встретиться с девушкой, которой хочет предложить встречаться после сеанса. По пути он встречает бездомного, который просит у него денег на еду. Герою стыдно, что он ни разу не подавал бездомному, но с другой стороны он волнуется, что ему может не хватить денег на кино. Выбор, отдать половину денег бездомному или пройти мимо.</p>
    <p>Если читатель выбрал первый вариант и подал денег, это тут же будет отображено в его решениях. Теперь он видит что у него осталось 100 рублей.</p>
    <p>Таким образом Глава 2 хоть и является ложным выбором, так как в любом случае сюжет придёт к Главе 3, данное решение будет влиять на концовку.</p>
    <p>
        <img src="/Content/defenitionExample/04.jpg"/>
    </p>
    <p>В главе 4, перед читателем опять выбор, потратить деньги и поступить честно или схитрить. Что опять таки выглядит как Ложный выбор, однако это не так. Ведь в 5 Главе варианты будут зависеть от того сколько рублей осталось у героя. При этом не будет иметь значения каким именно образом герой потратил деньги. Таким образом мы превратили 2 ложных выбора в последовательные Решения которые накапливаются. Так концовка 1 доступна лишь в случае если читатель не тратил деньги вовсе, или если он лишь купил жетон. Концовка 2 доступна лишь в случае если читатель сделал что-то одно либо купил жетон, либо дал денег бездомному. Концовка 3 доступна лишь тем кто каждый раз отдавал всё что мог. </p>
</div>