<div>
    <input type="button" value="Распечатать письмо" ng-click="GetQuest()"/>
    <input type="button" value="Осмотреть желающих стать героями" ng-click="GetHeroes()"/>

    <div class="quest-block" ng-if="quest">
        <img />
        <p>Name: {{quest.Name}}</p>
        <p>Progress: {{quest.Progress}}</p>
        <p>Desc: {{quest.Desc}}</p>
        <div ng-repeat="event in quest.EventsHistory">
            <hr/>
            <p>Desc: {{event.Desc}}</p>
            <p>ProgressChanging: {{event.ProgressChanging}}</p>
            <p>HeroMoneyChanging: {{event.HeroMoneyChanging}}</p>
            <p>HeroHpChanging: {{event.HeroHpChanging}}</p>
            <p>HeroLvlChanging: {{event.HeroLvlChanging}}</p>
        </div>
    </div>

    <div ng-if="heroes.length > 0">
        <h2>Choose child for learning:</h2>
        <div ng-repeat="hero in heroes" class="left">
            <ng-hero-info hero="{{hero}}"></ng-hero-info>
            <input type="button" value="Взять в ученики" ng-click="SelectHero(hero)" />
        </div>
    </div>

    <div ng-repeat="Wile in quest.Wiles" style="clear: both;">
        <p ng-repeat="event in Wile.Events" ng-if="CheckRequrment(event)">{{event.Desc}}</p>
    </div>
</div>