<div>
    <input type="button" value="Распечатать письмо" ng-click="GetQuest()"/>
    <input type="button" value="Осмотреть желающих стать героями" ng-click="GetHeroes()"/>

    <ng-quest-info quest="quest"></ng-quest-info>

    <div ng-if="heroes.length > 0">
        <h2>Choose child for learning:</h2>
        <div ng-repeat="hero in heroes" class="left">
            <ng-hero-card hero="hero"></ng-hero-card>
            <input type="button" value="Взять в ученики" ng-click="SelectHero(hero)" />
        </div>
    </div>

    <div ng-repeat="Wile in quest.Wiles" style="clear: both;">
        <p ng-repeat="event in Wile.Events" ng-if="CheckRequrment(event)">{{event.Desc}}</p>
    </div>
</div>