<div>
    <h1>Гильдия: {{guild.Name}}</h1>
    Name = {{quest.EnumValueName}}
    <div class="block300 padding10 left">
        <ng-guild guild="guild"></ng-guild>
    </div>

    <div class="block300 padding10 left">
        <h3>Ваши Герои</h3>
        <ng-hero-card hero="hero" ng-repeat="hero in guild.Heroes"></ng-hero-card>
    </div>

    <div class="block300 padding10 left">
        <ng-quest-info quest="quest" ng-repeat="quest in quests"></ng-quest-info>
    </div>

    <div class="block300 padding10 left">
        Блок доступных тренировочных комнат
        <div ng-repeat="room in guild.TrainingRooms" class="traning-room">
            <p>Название комнаты: {{room.Name}}</p>
            <p>Цена: {{room.Price}}</p>
            <p>{{room.School}}</p>
        </div>
    </div>
</div>