<div ng-controller="accessController" style="border-bottom: 1px dotted green;">
    <div style="display: inline-block;vertical-align: top;">
        <a href="#" ng-click="goToHomePage()">
            <img src="/Content/icon/logo.png" style="max-height: 100px;display: inline-block" />
        </a>
    </div>
    <div style="display: inline-block;">
        <!--<h3 style="display: inline-block;">Интерактивная книга</h3>-->
        <p ng-if="user.IsAdmin"
           style="border-bottom: 1px dotted green; padding: 10px 7px">
            Уголок Админа:
            <a href="rpg/AddDefaultState">Создать стандартные состояния</a>
            | <a href="rpg/AddDefaultThing">Создать стандартные предметы</a>
        </p>
        <p ng-if="user.IsAdmin || user.IsWriter"
           style="border-bottom: 1px dotted green; padding: 10px 7px">
            Уголок Писателя:
            <a href="AngularRoute/admin/quest/">Произведения админка</a>
            | <a href="AngularRoute/aboutUs">Зачем вам это?</a>

            <!--| <a href="AngularRoute/admin/State">Админка Состояний</a>
            | <a href="AngularRoute/admin/Thing">Админка Вещей</a>-->
        </p>

        <p style="padding: 10px 7px">
            <a id="login-lnk" ng-if="!user.Id" href="#" ng-click="openLogin()">Login</a>
            <span ng-if="!user.Id">|</span>
            <a id="register-lnk" ng-if="!user.Id" href="#" ng-click="openRegister()">Register</a>
            <span ng-if="!user.Id">|</span>
            <a href="AngularRoute/listQuest">Произведения</a>
            <span ng-if="user.Id">|</span>
            <a ng-if="user.Id" class="profile-lnk" href="AngularRoute/profile">Профиль</a>
            <span ng-if="user.Id">|</span>
            <span ng-if="user.Id">Привет, {{user.Name}}. |  <a href="#" ng-click="exit()">Выход</a></span>
        </p>

        <div ng-if="activeLogin || activeRegister">
            <span ng-if="error" class="error">{{error}}</span>
            <p>
                Username: <input id="username" type="text" ng-model="user.Name" ng-disabled="waiting"/>
            </p>
            <p>
                Password: <input id="password" type="password"
                                 ng-keypress="passwordKeyPress($event)" ng-model="user.Password" ng-disabled="waiting"/>
            </p>
            <p>
                <input id="login-btn" type="button" value="login" ng-click="login()" ng-if="activeLogin" ng-disabled="waiting"/>
                <input id="register-btn" type="button" value="register" ng-click="register()" ng-if="activeRegister" ng-disabled="waiting"/>
                <img src="/Content/icon/wait.gif" ng-if="waiting" class="icon20"/>
            </p>
        </div>
    </div>
</div>