<div class="wide-header" ng-controller="accessController"
     ng-class="{travel: route.isTravel, isUp: route.isUp}"
     ng-mousemove="mousemove($event)">

    <div class="content" id="header">
        <div class="menu-panel">
            <div class="logo header-item">
                <a href="/ar/reader/books" alt="К списку книг"><img src="/Content/icon/naractivity.png" title="Интерактивная книга" alt="Интерактивная книга"></a>
            </div>

            <div class="header-item" ng-if="user && user.IsAdmin">
                <a href="/ar/reader/articles">{{resources.Reader_Articles}}</a>
            </div>

            <div class="header-item" ng-if="user">
                <a href="/ar/writer/books">{{resources.Writer_Projects}}</a>
            </div>
            <!--<a href="/ar/writer/generalDefinition">{{resources.Help}}</a>-->
            <div class="header-item" ng-if="user && user.IsAdmin">
                <a href="/ar/admin/books">{{resources.Admin_Books}}</a>
            </div>
            <div class="header-item" ng-if="user && user.IsAdmin">
                <a href="/ar/admin/questionnaires">{{resources.Admin_Questionnaires}}</a>
            </div>
            <div class="header-item" ng-if="user && user.IsAdmin">
                <a href="/ar/admin/questionnaire-results">{{resources.Admin_Questionnaire_Result}}</a>
            </div>


            <div class="header-item" ng-if="!user">
                <a href="#" ng-click="openRegistration()">{{resources.Reader_Registration}}</a>
            </div>


            <div class="header-item" ng-if="user && user.IsAdmin">
                <a href="ar/reader/landing">Landing</a>
            </div>


            <div class="header-item alert">
                Бета версия
            </div>
        </div>

        <div class="login-panel">
            <!--<div class="header-item" ng-if="user">
                <a href="/ar/reader/profile/{{user.Id}}">Профиль</a>
            </div>-->
            <!--<div class="header-item ">
                <input type="text" placeholder="Искать..." />
            </div>-->
            <!-- <div class="header-item">
                <span class="icon" ng-class="{'bell-active': active, 'bell': !active}" ng-click="active = !active"></span>
            </div> -->
            <div class="header-item" ng-if="!user">
                <a href="#" ng-click="openLogin()">{{resources.Reader_Login}}</a>
            </div>
            <div class="header-item" ng-if="user">
                {{::user.Name}} <a href="#" ng-click="exit()">{{resources.Reader_Exit}}</a>
            </div>
            <div class="header-item avatar-container">
                <a href="/ar/reader/profile/{{user.Id}}"><img ng-src="{{user.AvatarUrl}}" ng-show="user" title="{{user.Name}}" class="user-avatar" /></a>
            </div>
        </div>

        <div class="fullscreen-div" ng-if="popupOpen.main" >
            <div class="gray-background" ng-click="close()"></div>
            <div class="registrationForm popupBody">
                <div class="signInUp">
                    <a ng-href="#" ng-show="popupOpen.popupState == PopupState.RecoverPassword || popupOpen.popupState == PopupState.CheckEmail"
                       ng-click="back()"><span class="icon arrow-back"></span></a>
                    <p class="tabName" 
                        ng-class="{'active': popupOpen.popupState == PopupState.Login 
                            || popupOpen.popupState == PopupState.RecoverPassword
                            || popupOpen.popupState == PopupState.CheckEmail}"
                        ng-click="openLogin()">{{resources.Reader_Login}}</p>
                    <p class="rectangle"></p>
                    <p class="tabName" ng-class="{'active': popupOpen.popupState == PopupState.Registration}" 
                       ng-click="openRegistration()">{{resources.Reader_Registration}}</p>
                </div>
                <div class="popupContent" ng-if="popupOpen.popupState == PopupState.Login || popupOpen.popupState == PopupState.Registration">
                    <span class="error-message">{{error}}</span>
                    <input type="text" placeholder="{{resources.Reader_Email}}" 
                           ng-class="{'error': error.length > 0}" ng-model="loginObj.Email"
                           ng-keypress="passwordKeyPress($event)" ng-disabled="waiting">
                    <span class="error-message"></span>
                    <input type="password" placeholder='{{resources.Reader_Password}}' 
                           ng-class="{'error': error.length > 0}" ng-model="loginObj.Password"
                           ng-keypress="passwordKeyPress($event)" ng-disabled="waiting">
                    <!--<span class="error">Пароли не совпадают</span>
                    <input class="error" type="password" placeholder="Повторите пароль">-->
                </div>
                <div class="popupContent" ng-if="popupOpen.popupState == PopupState.RecoverPassword">
                    <input type="email" ng-model="loginObj.Email" placeholder="Электронная почта">
                    <span class="instructions">Мы отправим Вам инструкции для смены пароля</span>
                </div>
                <div class="popupContent" ng-if="popupOpen.popupState == PopupState.CheckEmail">
                    <span class="checkEmail">Проверьте свою почту</span>
                    <span class="icon letter"></span>
                    <span class="instructions">Мы отправили Вам инструкции для смены пароля</span>
                </div>
                <div class="agreeGroup" ng-show="popupOpen.popupState == PopupState.Login">
                    <div class="keepMeSignedBlock">
                        <span class="checkbox">
                            <input type="checkbox" id="keepMeSigned">
                            <label for="keepMeSigned" class="fake-checkbox"></label>
                            <label for="keepMeSigned">Не выходить из системы</label>
                        </span>
                    </div>
                    <div>
                        <span><a href="#" ng-click="switchToRecoverPassword()">{{resources.Reader_ForgotPassword}}</a></span>
                    </div>
                </div>
                <div class="mainButtonBlock">
                    <button class="btn" ng-if="popupOpen.popupState == PopupState.Login" 
                            ng-click="login()">{{resources.Reader_Login}}</button>
                    <button class="btn" ng-if="popupOpen.popupState == PopupState.Registration" 
                            ng-click="register()">{{resources.Reader_Registration}}</button>
                    <button class="btn" ng-show="popupOpen.popupState == PopupState.RecoverPassword" 
                            ng-click="recoverPassword()">{{resources.Reader_RecoverPassword}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
