<!DOCTYPE html>
<html ng-app="rpg">
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="~/Content/icon/time.png" />

    <link rel="stylesheet" type="text/css" href="~/Content/css/font-style.scss">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.scss?v=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/icon.scss?v=1.0">

    <link rel="stylesheet" type="text/css" href="~/Content/angular-material.min.css">

    <script src="~/Scripts/polyfill.js"></script>

    <script>
        var Const = {
            ChapterSize: { Width: 390, Height: 90, Padding: 50 },
            ButtonSize: { Radius: 40, Padding: 25 },
            FontSize: 22,
            FontColor: '#000',
            ArrowColor: '#0cc',
            ArrowHighlightColor: '#600',
            ArrowShiftX: 20,
            ArrowShiftY: 7,
        };
    </script>

    <script type="text/javascript" src="@Url.Action("GetResources")"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-material.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="~/Scripts/rpg/services.js"></script>
    <script src="~/Scripts/rpg/services/book.js"></script>
    <script src="~/Scripts/rpg/services/chapter.js"></script>
    <script src="~/Scripts/rpg/services/travel.js"></script>
    <script src="~/Scripts/rpg/services/user.js"></script>
    <script src="~/Scripts/rpg/services/tag.js"></script>
    <script src="~/Scripts/rpg/services/state.js"></script>

    <script src="~/Scripts/rpg/constant.js"></script>
    <script src="~/Scripts/rpg/directives.js"></script>
    <script src="~/Scripts/rpg/module.js"></script>

    <!-- Start Admin -->
    <script src="~/Scripts/rpg/admin/books-controller.js"></script>
    <!-- End Admin -->
    <!-- Start Witer -->
    <script src="~/Scripts/rpg/writer/book-controller.js"></script>
    <script src="~/Scripts/rpg/writer/books-controller.js"></script>
    <script src="~/Scripts/rpg/writer/chapter-controller.js"></script>
    <script src="~/Scripts/rpg/writer/about-controller.js"></script>
    <!-- End Witer -->
    <!-- Start Reader -->
    <script src="~/Scripts/rpg/reader/access-controller.js"></script>
    <script src="~/Scripts/rpg/reader/books-controller.js"></script>
    <script src="~/Scripts/rpg/reader/travel-controller.js"></script>
    <script src="~/Scripts/rpg/reader/travel-guest-controller.js"></script>
    <script src="~/Scripts/rpg/reader/travel-end-controller.js"></script>
    <script src="~/Scripts/rpg/reader/profile-controller.js"></script>
    <!-- End Reader -->
    <!-- Start For draw Graph -->
    <script src="~/Scripts/sGraph/konva.min.js"></script>
    <script src="~/Scripts/sGraph/drawShapes.js"></script>
    <script src="~/Scripts/sGraph/chapterProcessing.js"></script>
    <script src="~/Scripts/sGraph/bookMap.js"></script>
    <!-- End For draw Graph-->
    @*<script src="~/Scripts/ckeditor/ckeditor.js"></script>*@
</head>
<body>
    <div ng-include="'views/rpg/headerD.html'"></div>
    <div ng-view></div>
    @*<footer></footer>*@
</body>
</html>


