<!DOCTYPE html>
<html ng-app="rpg">
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/rpg/michi.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/rpg/style.css")">
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>

    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/angular/angular-route.js"></script>
    <script src="~/Scripts/rpg/module.js"></script>

    <!-- Start For draw Graph -->
    <script src="~/Scripts/rpg/graph.js"></script>
    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/dracula_graffle.js"></script>
    <script src="~/Scripts/dracula_graph.js"></script>
    <!-- End For draw Graph-->
</head>
<body>
    <a href="AngularRoute/addQuest">Изменить квест</a>
    | <a href="AngularRoute/createHero">Создать героя</a>
    | <a href="AngularRoute/getQuest">Выполнять квест</a>
    | <a href="AngularRoute/questInfo">Результаты квеста</a>
    | <a href="AngularRoute/listHeroes">Список героев</a>
    <div ng-view>Loading...</div>
</body>
</html>


