<!DOCTYPE html>
<html ng-app="rpg">
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width" />
    @*<link rel="icon" type="image/png" href="@Url.Content("~/Content/icon/icon.png")" />*@

    <link rel="stylesheet" type="text/css" href="~/Content/css/font-style.scss">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.scss?v=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/icon.scss?v=1.0">

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="~/Scripts/rpg/constant.js"></script>
    <script src="~/Scripts/rpg/services.js"></script>
    <script src="~/Scripts/rpg/directives.js"></script>
    <script src="~/Scripts/rpg/module.js"></script>

    <script src="~/Scripts/rpg/admin-controller.js"></script>@*remove*@
    <script src="~/Scripts/rpg/user-controller.js"></script>@*remove*@

    <script src="~/Scripts/rpg/writer/book-controller.js"></script>
    <script src="~/Scripts/rpg/writer/books-controller.js"></script>
    <script src="~/Scripts/rpg/writer/chapter-controller.js"></script>

    <script src="~/Scripts/rpg/reader/books-controller.js"></script>
    <script src="~/Scripts/rpg/reader/travel-controller.js"></script>
    <script src="~/Scripts/rpg/reader/login-controller.js"></script>
    <script src="~/Scripts/rpg/reader/register-controller.js"></script>
    <script src="~/Scripts/rpg/reader/profile-controller.js"></script>

    <!-- Start For draw Graph -->
    <script src="~/Scripts/rpg/graph.js"></script>
    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/dracula_graffle.js"></script>
    <script src="~/Scripts/dracula_graph.js"></script>
    <!-- End For draw Graph-->
    <script src="~/Scripts/rpg/j-graph.js"></script>

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
</head>
<body>
    <div ng-include="'views/rpg/headerD.html'">Loading...</div>
    <div ng-view>Loading...</div>
    <footer style="clear: both; padding: 70px 70px; border-top: 1px dotted green; margin-top: 10px;">Все права правильные</footer>
</body>
</html>


