<div>
    <div class="content">
        <div class="specialMarginForBooks">
            <h1 class="text">
                Произведения
            </h1>
        </div>

        <div ng-if="!books">
            <img ng-src="/Content/icon/wait.gif" />
        </div>
        <div ng-if="books">
            <p>Кликни на произведение что бы отправиться в путешествие</p>
            <div ng-repeat="book in books" style="cursor: pointer;">
                <ng-book-info id="book-{{::book.Id}}" ng-click="goToBook(book)" book="book" style="float: left;"></ng-book-info>
            </div>
        </div>


    </div>
</div>