<div class="quest-block" ng-if="quest">
    <p>Карточка квеста. <b>{{quest.Name}}</b></p>
    <p>Прогресс: {{quest.Effective}}</p>
    <p>Описание: {{quest.Desc}}</p>
    <!--<div ng-repeat="event in quest.EventsHistory">
        <hr />
        <p>Desc: {{event.Desc}}</p>
        <p>ProgressChanging: {{event.ProgressChanging}}</p>
        <p>HeroMoneyChanging: {{event.HeroMoneyChanging}}</p>
        <p>HeroHpChanging: {{event.HeroHpChanging}}</p>
        <p>HeroLvlChanging: {{event.HeroLvlChanging}}</p>
    </div>-->
</div>