<div ng-class="!quest || !hero ? 'wait' : ''">
    <div style="width: 800px; float: left;">
        <h2>Профиль пользователя {{user.Name}}</h2>
        <input type="checkbox" disabled="disabled" ng-model="user.IsAdmin" />
        <a href="#" ng-click="removeAccount()">Delete my account</a>
        <h2>Закладки пользователя</h2>
        <div ng-if="user.Bookmarks">
            <p ng-repeat="mark in user.Bookmarks">
                Квест: {{mark.CurrentEvent.quest.Name}}. Глава: {{mark.CurrentEvent.Name}}
                <a href="#" ng-click="goToBookmark(mark)">Продолжить</a>
                <a href="#" ng-click="removeBookmark(mark, $index)"><img src="/Content/delete.png" class="icon20"/></a>
            </p>
        </div>
    </div>
</div>