<div>
    <div style="width: 400px; float: left">
        <ng-hero-card hero="quest.Hero"></ng-hero-card>
    </div>
    <div style="width: 400px; float: left">
        <ng-quest-info quest="quest"></ng-quest-info>
    </div>



    <div style="clear: both;">
        <div ng-repeat="event in quest.EventsHistory">
            <hr/>
            <p>Событие: {{event.Desc}}</p>
            <p>Причина:
                <span ng-if="event.RequirementRace != 0">Расс: {{getRaceWord(event.RequirementRace)}}</span>
                <span ng-if="event.RequirementSex != 0">Пол: {{getSexWord(event.RequirementSex)}}</span></p>
            <p>Прогресс миссии: {{event.ProgressChanging}}</p>
        </div>
    </div>
</div>