<div ng-class="!quest || !hero ? 'wait' : ''">
    <div style="width: 800px; float: left;">
        <h2>Экран путешествия: </h2>
        <div class="event-changes-block" ng-if="changes.length > 0">
            <p ng-repeat="change in changes" ng-class="change.hideClassName">
                {{change.text}}
                <img ng-src="/Content/delete.png" style="width: 20px; height: 20px; float: right" ng-click="removeChange(change.id)"/>
            </p>
        </div>
        <div>
            <b>{{currentEvent.Name}}</b>
            <div ng-bind-html="currentEvent.Desc | trusted"></div>
        </div>
        <div ng-if="!wait">
            <ul>
                <li ng-repeat="eventLink in ways" class="wayLink" ng-click="chooseEvent(eventLink.ToId)">
                    <a href="#">{{eventLink.Text}}</a>
                </li>
            </ul>
        </div>

        <div ng-if="(!ways || ways.length == 0) && !wait">
            Квест завершён.
            <input ng-click="endQuest()" type="button" value="Собрать награду"/>
        </div>
        <div ng-if="wait">
            <img src="/Content/wait.gif"/>
        </div>

        <div ng-if="false">
            <a href="#" ng-click="batle()">Go to battle</a>
        </div>
    </div>


    <div style="float: right;">
        <ng-quest-info quest="quest"></ng-quest-info>
        <ng-hero-card hero="hero" style="clear: both;"></ng-hero-card>
    </div>
</div>