<div ng-class="!quest || !hero ? 'wait' : ''">
    <h2>Экран путушествия: </h2>
    <div>
        <b>{{currentEvent.Name}}</b>
        <div ng-bind-html="currentEvent.Desc | trusted"></div>
    </div>
    <div>
        <ul>
            <li ng-repeat="eventLink in ways"><a href="#" ng-click="chooseEvent(eventLink.ToId)">{{eventLink.Text}}</a></li>
        </ul>
        
    </div>

    <div ng-if="!ways || ways.length == 0">
        Квест завершён.
        <a href="#" ng-click="endQuest()">Собрать награду</a>
    </div>

    <div ng-if="false">
        <a href="#" ng-click="batle()">Go to battle</a>
    </div>

    <div>
        <ng-quest-info quest="quest"></ng-quest-info>
        <ng-hero-card hero="hero" style="clear: both;"></ng-hero-card>
    </div>
</div>