@font-face {
    font-family: Lato;
    src: url(../font/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoHeavy;
    src: url(../font/Lato-Heavy.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../font/Lato-Bold.ttf);
}



@font-face {
    font-family: Merriweather;
    src: url(../font/Merriweather-Regular.ttf);
}
@font-face {
    font-family: MerriweatherLight;
    src: url(../font/Merriweather-Light.ttf);
}