/* Начало стилей для Теста-концовки */ 
.question{
	border: solid 1px black;
	padding: 5px;
	display: none;
}

.answer{
	border: outset 3px;
	margin-top: 3px;
	/*display: inline;*/
	cursor: pointer;
	background: #EEE8AA;
	padding: 2px;
}

.select-answer{
	border: inset 3px;
	margin-top: 3px;
	background: #98FB98;
}

.tooltip{
	display: none;
	cursor: help;
	background: #8FBC8F;/*url(../img/question-icon.jpg);*/
	width: 780px;
	border: dotted 2px green;
	position: absolute;
}

.next{
	float: right;
	display: inline;
	border: outset 3px;
	margin-top: 3px;
	cursor: pointer;
	background: #87CEEB;
	padding: 2px;
}

.title-block{
	height: 35px;
}

.title-block .title{
	float: left;
	width: 400px;
}

.ending{
	display: none;
}
/* Конец стилей для Теста-концовки */ 

/* Начало стилей для главной страници */ 
doby{
	background: #F8F8FF;
}

.block{
	width: 474px;
	height: 286px;
	float: left;
	background: #F8F8FF;
	border: outset 3px;
	padding: 10px;
}

.block .title{
	margin: auto;
	width: 300px;
	background: #FDF5E6;
	border: outset 3px;
	font: 16pt sans-serif; 
    text-align: center;
}

.school{
	background: #BEBEBE;
}

.academy{
	background: #87CEEB;
}

.contact{
	/*clear: both;*/
}

.news{
	
}

#galleria{
	width: 474px;
	height: 477px;
	background: #000;
	display: none;
}

#galleria-full{
	width: 1200px;
	height: 1000px;
	background: #000;
	display: none;
}

.full{
	display: none;
}
/* Конец стилей для главной страници */ 

.carrier-test{
	width: 1280px;
	height: 800px;
	float: left;
	background: #F8F8FF;
	border: outset 3px;
	padding: 10px;
}



















