.icon {
    background-image: url(../icon/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.add-icon {
    width: 40px;
    height: 40px;
    background-position: -5px -5px;
}

.arrow-back {
    width: 17px;
    height: 16px;
    background-position: -55px -5px;
}

.arrow-forward {
    width: 6.6px;
    height: 10px;
    background-size: contain;
    background-image: url(../icon/svg/arrow-forward.svg);
    background-repeat: no-repeat;
}

.bell {
    width: 23px;
    height: 28px;
    background-position: -82px -5px;
}

.bell-active {
    width: 23px;
    height: 28px;
    background-position: -115px -5px;
}

.bin {
    width: 96px;
    height: 96px;
    background-position: -148px -5px;
}

.bookmark {
    width: 16px;
    height: 20px;
    background-size: contain;
    background-image: url(../icon/svg/bookmark.svg);
    background-repeat: no-repeat;

    &:hover {
        width: 16px;
        height: 20px;
        background-size: contain;
        background-image: url(../icon/svg/bookmark-hover.svg);
        background-repeat: no-repeat;
    }

    &:active {
        width: 16px;
        height: 20px;
        background-size: contain;
        background-image: url(../icon/svg/bookmark-active.svg);
        background-repeat: no-repeat
    }
}

.calendar {
    /*width: 47px;
    height: 56px;
    background-position: -217px -111px;*/
    /*hot fix*/
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url(../icon/svg/calendar.svg);
    background-repeat: no-repeat;
}

.close {
    width: 14px;
    height: 14px;
    background-position: -360px -5px;
}

.comment {
    width: 18px;
    height: 18px;
    background-size: contain;
    background-image: url(../icon/svg/comment.svg);
    background-repeat: no-repeat;
}

.eye {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-image: url(../icon/svg/eye.svg);
    background-repeat: no-repeat;

    &:hover {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-image: url(../icon/svg/eye-hover.svg);
        background-repeat: no-repeat;
    }
}

.letter {
    width: 32px;
    height: 26px;
    background-position: -315px -207px;
}

.map-add {
    width: 41px;
    height: 41px;
    background-position: -103px -243px;
}

.map-add-empty {
    width: 41px;
    height: 41px;
    background-position: -154px -243px;
}

.map-link-available {
    width: 41px;
    height: 41px;
    background-position: -315px -243px;
}

.map-link-child {
    width: 41px;
    height: 41px;
    background-position: -103px -294px;
}

.map-link-parent {
    width: 41px;
    height: 41px;
    background-position: -154px -294px;
}

.map-remove {
    width: 41px;
    height: 41px;
    background-position: -205px -294px;
}

.menu-icon {
    width: 4px;
    height: 18px;
    background-size: contain;
    background-image: url(../icon/svg/menu.svg);
    background-repeat: no-repeat;
}

.preview {
    width: 18px;
    height: 18px;
    background-size: contain;
    background-image: url(../icon/svg/preview.svg);
    background-repeat: no-repeat;
}

.share {
    width: 21.2px;
    height: 18px;
    background-size: contain;
    background-image: url(../icon/svg/share.svg);
    background-repeat: no-repeat;
}

.tag-add {
    width: 80px;
    height: 96px;
    background-position: -365px -95px;
}

.thumb-up {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-image: url(../icon/svg/thumb-up.svg);
    background-repeat: no-repeat;

    &:active {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-image: url(../icon/svg/thumb-up-active.svg);
        background-repeat: no-repeat;
    }
}

.time {
    /*width: 57px;
    height: 57px;
    background-position: -5px -391px;*/
    /*hot fix*/
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url(../icon/svg/time.svg);
    background-repeat: no-repeat;
}

.wait {
    width: 44px;
    height: 44px;
    background-position: -72px -391px;
}
