$black: #393c3e;
$dark-gray: #71787e; /*rgb(113,120,126)*/
$light-gray: #f5f5f5;
/*$white: #fafafa;*/
$white: #fff;
$black: #000;

$green: #50d166;
$orange: #f18f1c;
$red: #f13a30;
$blue1: #00aeef; /*rgb(0,174,239)*/

/* unusual color */
/*$border: #e9e9e9;*/
$gray-middle: #b3b3b3;

$blueV2: #0068FF;
$orangeV2: #F25549;

html, body {
    font-family: Lato;
    font-size: 14px;
    line-height: 30px;
    background: white;
}

body {
    /*background-color: $light-gray;*/
    /*max-width: 1560px;*/
    min-width: 1020px;
}

/* Header */
.wide-header {
    background: $white;
    padding: 0 35px;
}

#header {
    background-color: $white;
    height: 70px;
    position: relative;

    .menu-panel {
        position: absolute;
        left: 0;
        top: 0;

        .logo {
            font-family: LatoBold;
            font-size: 20px;


            a {
                background-size: 100%;
                display: inline-block;
                /*background-image: url(../icon/naractivity.png);*/
                background-repeat: no-repeat;
                margin-top: 2px;

                img {
                    width: 250px;
                    height: 25px;
                }
            }
        }

        .header-item {
            display: inline-block;
            margin-top: 17px;
            color: $dark-gray;
            vertical-align: text-top;
            margin-right: 35px;

            a {
                color: $gray-middle;
                text-transform: uppercase;
                display: inline-block;
            }

            ul {
                li {
                    display: inline-block;
                    margin: 5px 6px;
                    cursor: pointer;

                    &.active {
                        border-bottom: 3px $blue1 solid;
                    }
                }
            }

            &.alert {
                color: $red;
            }
        }
    }

    .login-panel {
        position: absolute;
        right: 0;
        top: 0;

        .header-item {
            display: inline-block;
            margin-top: 17px;
            color: $dark-gray;
            vertical-align: text-top;
            margin-left: 35px;
            text-transform: uppercase;

            &.avatar-container {
                margin-top: 15px;
            }

            a {
                color: $gray-middle;
                text-transform: lowercase;
            }

            ul {
                li {
                    display: inline-block;
                    margin: 5px 6px;
                    cursor: pointer;

                    &.active {
                        border-bottom: 3px $blue1 solid;
                    }
                }
            }
        }
    }
}

#sub-header {
    background-color: $white;
    height: 50px;
    position: relative;
    padding: 0 35px;
    text-align: center;

    .project-list {
        position: absolute;
        left: 0;
        top: 0;

        li {
            line-height: 50px;
            height: 50px;
            vertical-align: top;
            padding-right: 10px;
        }

        .size-action {
            input {
                margin-top: 25px;
            }
        }
    }

    .action-list {
        position: absolute;
        right: 0;
        top: 0;

        .action-list-item {
            display: inline-block;
            line-height: 50px;
            height: 50px;
            padding-left: 10px;

            .add-icon {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    .book-menu {
        color: $dark-gray;
        position: absolute;
        left: calc(100% / 2);
        top: 0;

        a {
            color: $gray-middle;
        }

        ul {
            height: 100%;

            li {
                display: inline-block;
                margin: 0 6px;
                cursor: pointer;
                height: 50px;
                line-height: 50px;
                border-bottom: 3px transparent solid;

                &.active {
                    border-bottom: 3px $blue1 solid;
                }
            }
        }
    }

    .header-item {
        display: inline-block;
        margin-top: 4px;
        color: $dark-gray;
        vertical-align: text-top;
        /*margin-right: 35px;*/
        font-size: 18px;

        a {
            color: $gray-middle;
            text-transform: uppercase;
        }
    }

    .error {
        color: $red;
        padding-left: 10px;
        font-style: italic;
    }
}

.top-menu {
    .travel {
        visibility: hidden;
        height: 20px;
        transition: visibility 0s linear 0.33s, height 0.33s linear;
    }

    &:hover .travel,
    .isUp.travel {
        visibility: visible;
        height: 100px;
        transition-delay: 0s;
    }
}
/* Header End */
/* Admin */
#admin-info,
#questionnaire-results {
    padding: 20px;

    table {
        border-collapse: collapse;
        border: 1px solid $black;
    }

    table, tr {
        padding: 0;
        margin: 0;
    }

    tr:nth-child(even) {
        background-color: $light-gray;
    }

    th {
        text-decoration: solid;
        padding: 2px 10px;
    }

    td {
        /*border-right: 1px solid $black;*/
        text-align: center;
        padding: 2px;
        margin: 0;
    }

    td.left {
        text-align: left;
    }
}
/* Admin End */

/* Writer */
#book-writer {
    .level {
        margin: auto;

        .add {
            width: 60px;
            /*border: 1px red solid;*/
            float: right;
            margin-top: 150px;
        }

        .chapter {
            box-shadow: 2px 2px 9px $black;
            background-color: $white;
            width: 260px; /* +10px */
            height: 288px; /* +12px */
            display: inline-block;
            margin: 5px;
            overflow: hidden;

            &.isPrev {
                box-shadow: 2px 2px 9px $blue1;
            }

            &.isNext {
                box-shadow: 2px 2px 9px $orange;
            }

            .header {
                font-family: LatoBold;
                border-bottom: 3px $light-gray solid;
                padding-left: 10px;
            }

            .body {
                padding-left: 10px;
            }
        }
    }

    .level.roadmap {
        margin: 3px;
        text-align: center;

        .chapterBlock {
            width: 260px;
            display: inline-block;
            margin: 5px;
            box-shadow: 2px 2px 9px #000;
            background-color: $white;
            vertical-align: top;

            .header {
                font-family: LatoBold;
                border-bottom: 3px $light-gray solid;
                padding-left: 10px;
                cursor: pointer;
            }

            .body {
                height: 150px;
                overflow: hidden;
                border-bottom: 3px $light-gray solid;
            }

            .chapter {
                height: 100px;
            }
        }
    }

    .add-level {
        width: 100px;
        margin: auto;
    }
}

.wrapper-book {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;

    .book {
        background-color: $white;
        /*display: inline-block;
        flex-direction: column;*/
        width: 328px;
        height: 343px;
        margin-top: 32px;
        margin-left: 30px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        /*box-shadow: 2px 2px 5px rgba(0,0,0,0.1);*/
        /*box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);*/
        vertical-align: top;
        position: relative;
        box-sizing: border-box;

        &.published {
            border: 1px $green solid;
        }

        &.draft {
            border: 1px $orange solid;
        }

        .wrapper {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            height: 100%;

            .header {
                display: flex;
                align-items: center;
                height: 50px;
                width: 328px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.4px;
                text-align: left;
                box-sizing: border-box;

                .user-avatar-block {
                    display: flex;
                    width: 32px;
                    height: 32px;
                    margin: 9px 0 8px 24px;
                }

                .detail-block {
                    width: 222px;
                    margin-left: 16px;

                    .line-one {
                        display: flex;
                        align-items: center;
                        height: 10px;
                        margin: 10px 0 0 0;

                        .author-name {
                            font-family: 'Montserrat', sans-serif;
                            font-size: 12px;
                            line-height: 16px;
                            letter-spacing: 0.4px;
                            color: $black;
                            font-weight: bold;
                        }
                    }

                    .line-two {
                        height: 16px;
                        display: flex;
                        align-items: center;
                        color: rgba(0, 0, 0, 0.36);
                        margin: 6px 0 7px 0;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0.4px;

                        span {
                            margin: 0 8px 0 0;
                        }
                    }
                }

                .tags-block {
                    display: inline-block;
                    /*width: 160px;*/
                    vertical-align: top;
                }
            }

            .book-content {
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                /*height: 245px;*/
                padding: 0 24px 0 24px;

                input {
                    margin-top: 16px;
                    width: 83px;
                    height: 23px;
                    background: #FFA800;
                    border-radius: 16px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 16px;
                    letter-spacing: 1.5px;
                    color: $white;
                    outline: none;
                    border: none;
                }

                .name {
                    padding: 10px 0;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.15px;
                    color: $black;

                    input {
                        width: 100%;
                        padding-left: 2px;
                        /*border-left: 2px solid rgba(0, 0, 0, 0.36);*/
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.15px;
                        color: rgba(0, 0, 0, 0.36);
                        border-radius: 0;
                        background: $white;
                    }
                }

                .desc {
                    height: 78px;
                    overflow: hidden;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                    color: rgba(0, 0, 0, 0.6);
                    text-align: left;

                    textarea {
                        width: 100%;
                        height: 74px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.25px;
                        color: rgba(0, 0, 0, 0.36);
                        overflow: hidden;
                        resize: none;
                    }
                }

                .actions {
                    display: flex;
                    align-items: center;
                    height: 20px;
                    margin-bottom: 24px;
                    margin-top: 14px;
                }
            }

            .book-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 47px;
                width: 328px;
                border-top: 1px solid rgba(0, 0, 0, 0.12);
                box-sizing: border-box;

                .publish {
                    width: 163px;
                    height: 46px;
                    border-right: 1px solid rgba(0, 0, 0, 0.12);

                    &:hover {
                        background: #FFA800;
                    }
                }

                .preview-block {
                    width: 126px;
                    justify-content: center;
                    margin-right: 24px;
                }

                .bookmark-margin {
                    margin-right: 18px;
                }

                div {
                    margin-left: 16px;
                    display: flex;
                    align-items: center;

                    .publish-hover:hover {
                        color: $white;
                    }

                    span {
                        margin-left: 8px;
                        font-family: Montserrat;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.25px;
                        color: rgba(0, 0, 0, 0.6)
                    }
                }
            }
        }

        .writer-actions-menu {
            position: absolute;
            background: $gray-middle;
            width: 200px;
            border: 1px #ccc solid;
            border-radius: 5px;

            a {
                display: block;
                background: $white;
                border-radius: 5px;
                margin: 3px;
            }
        }

        .writer-actions-toggle {
            text-align: left;
            display: block;
            position: relative;
            /*height: 0;
        top: -25px;
        left: -15px;*/
            cursor: pointer;
        }

        .newTag {
            width: 180px;
            margin: 10px 0;
        }
    }
}

#chapter {
    background-color: $light-gray;
    width: 800px;
    /*height: 500px;*/
    margin: auto;

    .header {
        background-color: $white;
        font-size: 18px;
        line-height: 30px;
        padding: 10px;
        text-align: center;

        a {
            vertical-align: -webkit-baseline-middle;
        }

        input {
            width: 700px;
            font-size: 18px;
            font-family: Lato;
            text-align: center;
        }
    }

    .body {
        background-color: $white;
        height: 350px;
        font-family: MerriweatherLight;
        padding: 20px;

        textarea {
            height: 100%;
        }
    }

    .chapter-link {
        background-color: $white;

        textarea {
            height: 150px;
        }

        .author-tips {
            color: $gray-middle;
        }

        .condition,
        .decision {
            width: calc( 50% - 10px );
            display: inline-block;
            vertical-align: top;
        }
    }

    .footer {
        background-color: $white;
        padding: 20px;

        span:last-child {
            float: right;
        }
    }

    textarea {
        font-family: MerriweatherLight;
        width: 100%;
        resize: none;
    }
}
/* Writer End */
/* Reader */
#travel {
    .header {
        background-color: $white;
        font-size: 18px;
        padding: 30px 150px;
        text-align: center;

        .percent {
            color: $gray-middle;
        }
    }

    .body {
        font-family: MerriweatherLight;
        background-color: $white;
        padding: 30px 150px;
    }
}
/* Also use in chapter editor */
.chapter-links-block {
    padding: 15px 150px 10px;
    margin-bottom: 2px;
    background-color: $white;

    .chapter-link {
        background-color: $white;

        .text {
            border: 2px $light-gray solid;
            border-radius: 5px;
            padding: 20px;
            text-align: center;

            input {
                text-align: center;
                width: 400px;
            }


            .variable-action {
                input {
                    width: 100px;
                }

                input[type=button] {
                    width: 20px;
                }
            }

            .changeType {
                color: $orange;
            }
        }

        .action-button {
            text-align: center;
            padding-bottom: 16px;
            margin-top: -16px;
        }

        &.onlyNext .action-button {
            top: 0px;
        }

        .close {
            float: right;
            position: relative;
            top: 5px;
            left: -5px;
            z-index: 5;
        }

        &.onlyNext .close {
        }

        &.lost-choice {
            a,
            .button-medium-gray,
            .button-medium-blue {
                cursor: not-allowed;
            }
        }
    }
}

#articles {
    .article {
        background-color: $white;
        padding: 0 150px;
        margin-top: 10px;
        margin-bottom: 5px;

        &.published {
            border: 1px $green solid;
        }

        &.draft {
            border: 1px $orange solid;
        }

        .header {
            font-size: 18px;
        }

        input {
            width: 100%;
        }

        .body {
            font-family: MerriweatherLight;

            textarea {
                width: 100%;
                height: 100px;
            }
        }

        .actions {
            margin-top: 20px;
        }
    }
}

#questionnaires {
    margin-left: 100px;

    .questionnaire {
        margin-left: 20px;

        h3 label {
            font-size: initial;
            font-weight: initial;
        }

        .question {
            margin-top: 20px;
            margin-left: 40px;

            .error-mark {
                color: $red;
            }

            .question-text {
                width: calc( 100% - 50px );
            }

            .question-answers {
                margin-left: 20px;

                .statistics {
                    color: $gray-middle;
                }
            }
        }
    }
}

#landing {
    font-size: 18px;
    font-family: Roboto;
    background: url(../landing/bg-gray.png) no-repeat 0 1500px, url(../landing/bg-gray-rectagle.png) no-repeat 0 700px;

    h1 {
        text-align: center;

        .big-shadow {
            font-size: 100px;
            display: block;
            text-transform: uppercase;
            /*opacity: 0.06;*/
            color: #F5F5F5;
        }

        .main-text {
            position: relative;
            top: -30px;
            font-size: 35px;
        }
    }

    .block-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .tag-block {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            margin-bottom: 22px;
        }

        .line {
            margin-bottom: 16px;
            height: 2px;
            width: 68px;
            background: #4A90E2;
        }
    }

    .login-block {
        margin: 50px 0 140px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        input {
            padding: 14px 20px;
            border: 1px solid rgba(113, 130, 138, 0.2);

            &:nth-child(1) {
                /* email */
                border-radius: 4px 0 0 4px;
            }

            &:nth-child(2) {
                /* password */
                border-radius: 0;
            }

            &[type=button] {
                /* button */
                border-radius: 0 4px 4px 0;
                background: #0074E4;
                font-weight: bold;
                line-height: 18px;
                font-size: 14px;
                color: $white;
                height: 52px;
            }
        }
    }

    .login {
        display: flex;
        justify-content: center;
        flex-direction: column;

        div {
            display: flex;
            justify-content: center;
        }

        .desc {
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 25px;
            margin: auto;
            width: 960px;
            text-align: center;
            color: #71828A;
            line-height: 32px;
        }
    }

    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1120px;
        background: $white;
        margin: 5px auto;
        padding-top: 82px;
        box-shadow: 0px 10px 40px rgba(113, 130, 138, 0.2);
        border-radius: 6px;

        .text {
            padding: 0px 260px 40px 260px;

            p {
                margin-top: 40px;
                font-size: 16px;
                color: #4D4D4F;
            }
        }
    }

    .example {
        height: 1010px;
        width: 1600px;
        margin: 0 auto;
        margin-top: 100px;

        .tag {
            background: #0EBAC6;
        }

        .line {
            background: #0EBAC6;
        }

        .chapter-block {
            font-family: Montserrat;
            background: $white;
            box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);

            h3 {
                font-weight: 500;
                line-height: 30px;
            }

            p {
                color: #B3B3B3;
            }

            &.acitve {
                box-shadow: 1px 1px 7px $green;
            }
        }

        .side-column {
            width: 540px;
            display: inline-block;
            vertical-align: top;

            .chapter-block {
                height: 250px;
                margin-top: 100px;
                padding: 5px 15px;
            }
        }

        .center-column {
            width: 400px;
            display: inline-block;
            margin: 0 50px;

            .chapter-block {
                width: 400px;
                height: 100px;
                margin-top: 50px;
            }
        }
    }

    .team {
        .tag {
            background: #F9583B;
        }

        .line {
            background: #F9583B;
        }

        .team-member {
            display: flex;
            justify-content: center;



            div {
                display: flex;
                width: 230px;
                margin: 75px;
                flex-direction: column;
                align-items: center;
                height: 200px;
                /*background: $dark-gray;*/
                p {
                    line-height: 15px;
                }

                .role {
                    margin: 0;
                    padding: 0;
                    color: $gray-middle;
                    padding-bottom: 10px;
                }

                img {
                    max-width: 100px;
                    max-height: 100px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-around;
        background: url(../landing/bg-blue.png) no-repeat;
        color: $white;
        height: 290px;
        padding-top: 220px;

        p {
            font-size: 30px;
            margin-bottom: 12px;
        }

        p.small {
            font-size: 14px;
        }

        .login-block {
            margin-top: 0;

            input {
            }

            input[type=button] {
                background: $white;
                color: #0174E2;
            }
        }
    }
}
/* Reader End */
/* Common style*/
.left {
    float: left;
}

.no-border {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.icon20 {
    width: 20px;
    height: 20px;
}

.fullscreen-div {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;

    .gray-background {
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 20;
        top: 0;
        left: 0;
    }

    .popupBody {
        display: flex;
        flex-direction: column;
        background: $white;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        z-index: 30;
    }

    .create-book {
        width: 630px;
        height: 480px;

        div {
            padding-top: 10px
        }

        input {
            width: 600px;
            margin-top: 10px;
            font-size: 48px;
            background: rgba(0,0,0,0);
        }

        textarea {
            width: 600px;
            height: 300px;
            margin-top: 10px;
            font-family: Lato;
            font-size: 14px;
            line-height: 30px;
            resize: none;
        }

        input, textarea {
            background: $light-gray;
        }
    }

    .registrationForm {
        width: 448px;
        height: 568px;
        font-family: "Roboto", serif;
        font-size: 14px;

        .error-message {
            color: $orangeV2;
            height: 30px;
        }

        .signInUp {
            display: flex;
            align-items: center;
            width: 328px;
            height: 48px;
            margin: 48px 0 66px 0;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border: 1px solid rgba(0, 0, 0, 0.12);
                border-radius: 25px;
                box-sizing: border-box;
                position: absolute;
                transform: translateX(-24px);
            }

            .tabName {
                display: flex;
                justify-content: center;
                width: 164px;
                outline-style: none;
                font-weight: 500;
                line-height: 16px;
                text-align: center;
                letter-spacing: 1.25px;
                color: rgba(0, 0, 0, 0.38);
                cursor: pointer;

                &.active {
                    color: rgba(0, 0, 0, 0.87);
                }
            }

            .rectangle {
                width: 1px;
                height: 48px;
                margin: 0;
                background: rgba(0, 0, 0, 0.12);
                border-radius: 0;
            }
        }

        .popupContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Email and password */
            input:not([type=checkbox]) {
                width: 328px;
                height: 48px;
                border: 1px solid rgba(0, 0, 0, 0.12);
                border-radius: 4px;
                line-height: 20px;
                letter-spacing: 0.25px;
                color: rgba(0, 0, 0, 0.87);
                padding-left: 28px;
                box-sizing: border-box;
                margin-bottom: 10px;
                outline-style: none;

                &.ng-dirty {
                    background: $white;
                }
            }

            input.error {
                border-color: $orangeV2;
            }

            input:focus {
                border: 1px solid #0068FF;
                border-radius: 4px;
            }

            .instructions {
                width: 272px;
                line-height: 20px;
                font-size: 14px;
                text-align: center;
                letter-spacing: 0.25px;
                color: rgba(0, 0, 0, 0.6);
                margin-top: 15.4px;
            }

            .checkEmail {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 328px;
                height: 48px;
                font-weight: 500;
                line-height: 24px;
                font-size: 20px;
                letter-spacing: 0.15px;
                color: rgba(0, 0, 0, 0.87);
            }
        }

        .agreeGroup {
            width: 328px;
            height: 16px;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;

            div {
                display: flex;
            }

            .keepMeSignedBlock {
                visibility: hidden;
            }

            .checkbox {
                display: flex;

                input[type=checkbox] {
                    display: none;
                }

                input[type=checkbox]:checked + .fake-checkbox {
                    background-color: #0068FF;
                    border-color: #0068FF;
                }

                input[type=checkbox]:checked + .fake-checkbox::after {
                    content: "";
                    display: block;
                    border-style: solid;
                    border-width: 0 0 2px 2px;
                    border-color: transparent transparent #fff #fff;
                    margin: auto;
                    width: 6px;
                    height: 3px;
                    transform: rotate(-45deg) translate3d(1px, -9%, 0);
                }

                label:not(.fake-checkbox) {
                    padding: 0 0 0 10px;
                }

                .fake-checkbox {
                    width: 16px;
                    height: 16px;
                    display: flex;
                    flex: 0 0 auto;
                    box-sizing: border-box;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    border-radius: 4px;
                    background-color: #fff;
                }
            }

            span {
                line-height: 16px;
                font-size: 12px;
                letter-spacing: 0.4px;
                color: rgba(0, 0, 0, 0.6);

                a {
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }

        .mainButtonBlock {
            margin-top: auto;
            margin-bottom: 48px;

            .btn {
                width: 328px;
                height: 48px;
                outline-style: none;
                background: $blueV2;
                border: none;
                border-radius: 4px;
                font-weight: 500;
                line-height: 16px;
                text-align: center;
                letter-spacing: 1.25px;
                color: $white;
                padding: 16px 0;
                box-sizing: border-box;
                transition: ease .3s;

                &:hover {
                    background: $white;
                    border: 1px solid $blueV2;
                    color: $blueV2;
                }
            }
        }
    }
}

.gray-text {
    color: $gray-middle;
}

.wait-block {
    /*background-image: url(../icon/wait.gif);
    width: 42px;
    height: 42px;*/
    text-align: center;
}

.button-medium-gray,
.button-medium-blue {
    /*border-radius: 24px;
    padding: 5px 12px;*/
    cursor: pointer;
}

.button-medium-gray {
    /*color: $gray-middle;*/
    background-color: $white;
    /*border: 2px solid $gray-middle;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    color: $blueV2;
}

.button-medium-blue {
    color: $white;
    background-color: $blue1;
    display: inline-block;
    height: 18px;
    line-height: 18px;
}

.button-medium-gray.disabled,
.button-medium-blue.disabled {
    cursor: no-drop;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 100px;
}

.tag {
    display: inline-block;
    border-radius: 10px;
    padding: 0 9px;
    line-height: 20px;
    font-size: 12px;
    margin-left: 3px;
    white-space: nowrap;
    background: $blue1;
    color: $white;

    .icon {
        vertical-align: middle;
    }
}

.help-page {
    padding: 0 35px;
}

.profile-page {
    padding: 0 35px;

    .recover-password {
        color: $orangeV2;
    }
}

footer {
    clear: both;
}

.pointer {
    cursor: pointer;
}

.right {
    float: right;
}
/* Common style End*/

/* ng-form */
textarea.ng-dirty,
input.ng-dirty {
    background-color: $light-gray;
}
/* ng-form End  */

/*Graph*/
#nicePic {
}

#travel-end {
    padding: 0 35px;
}
/* Graph End */
