$black: #393c3e;
$dark-gray: #71787e;
$light-gray: #f5f5f5;
/*$white: #fafafa;*/
$white: white;

$green: #50d166;
$orange: #f18f1c;
$red: #f13a30;

html,
body {
    font-family: Lato;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1560px;
    margin: auto;
}

/* Header */
#header,
#sub-header {
    padding-top: 17px;

    .logo {
        font-family: LatoBold;
        font-size: 20px;
    }

    .header-item {
        display: inline-block;
        color: $dark-gray;
    }
}
/* Header End */

/* Writer */
.level {
    /*border: 1px solid #71787e;*/
    /*width: 550px;*/
    margin: auto;

    .chapter {
        border: 1px solid #f18f1c;
        background-color: $light-gray;
        width: 540px;
        height: 310px;
        display: inline-block;
        margin: 5px;
    }
}

.book {
    border: 1px solid $green;
    display: inline-block;
    width: 270px;
    height: 290px;
    margin-top: 32px;
    margin-left: 30px;
    border-radius: 5px;
}

#chapter {
    border: 1px solid #f18f1c;
    background-color: $light-gray;
    width: 800px;
    height: 500px;
    margin: auto;

    .header {
        background-color: $white;
        font-size: 18px;
        line-height: 3.0;
        margin-bottom: 3px;
    }

    .body {
        background-color: $white;
        margin-bottom: 3px;
        height: 410px;
    }

    .footer {
        background-color: $white;
    }
}
/* Writer End */
/* Icon */
.icon-bell {
    height: 20px;
    width: 20px;
    background-color: green;
    display: inline-block;
}
/* Icon End */

/* Common style*/
.right {
    float: right;
}

.center {
    position: absolute;
    left: calc(100% / 2)
}
/* Common style End*/
