$black: #393c3e;
$dark-gray: #71787e; /*rgb(113,120,126)*/
$light-gray: #f5f5f5;
/*$white: #fafafa;*/
$white: #fff;
$black: #000;

$green: #50d166;
$orange: #f18f1c;
$red: #f13a30;
$blue1: #00aeef; /*rgb(0,174,239)*/

/* unusual color */
/*$border: #e9e9e9;*/
$gray-middle: #b3b3b3;

html, body, textarea, input {
    font-family: Lato;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body {
    background-color: $light-gray;
}

.content {
    max-width: 1560px;
    margin: auto;
}

/* Header */
.wide-header {
    background: $white;
}

#header,
#sub-header {
    background-color: $white;
    height: 70px;
    margin-top: 3px;

    .logo {
        font-family: LatoBold;
        font-size: 20px;
    }

    .header-item {
        display: inline-block;
        margin-top: 17px;
        color: $dark-gray;
        margin-left: 35px;

        a {
            color: $gray-middle;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 5px 6px;
            cursor: pointer;

            &.active {
                border-bottom: 3px $blue1 solid;
            }
        }
    }
}
/* Header End */

/* Writer */
#book-writer {
    .level {
        margin: auto;

        .add {
            width: 60px;
            /*border: 1px red solid;*/
            float: right;
            margin-top: 150px;
        }

        .chapter {
            box-shadow: 2px 2px 9px $black;
            background-color: $white;
            width: 260px; /* +10px */
            height: 288px; /* +12px */
            display: inline-block;
            margin: 5px;
            overflow: hidden;

            &.isPrev {
                box-shadow: 2px 2px 9px $blue1;
            }

            &.isNext {
                box-shadow: 2px 2px 9px $orange;
            }

            .header {
                font-family: LatoBold;
                border-bottom: 3px $light-gray solid;
                padding-left: 10px;
            }

            .body {
                padding-left: 10px;
            }
        }
    }

    .add-level {
        width: 100px;
        margin: auto;
    }
}

.book {
    background-color: $white;
    display: inline-block;
    width: 270px;
    height: 290px;
    margin-top: 32px;
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);

    .name {
        border-bottom: 3px $light-gray solid;
        font-family: LatoBold;
        padding-left: 10px;
    }

    .desc {
        padding-left: 10px;
    }
}

#chapter {
    border-top: 3px $light-gray solid;
    background-color: $light-gray;
    width: 800px;
    /*height: 500px;*/
    margin: auto;

    .header {
        background-color: $white;
        font-size: 18px;
        line-height: 30px;
        padding: 10px;
        text-align: center;
        margin-bottom: 3px;

        a {
            vertical-align: -webkit-baseline-middle;
        }

        input {
            width: 700px;
            font-size: 18px;
            font-family: Lato;
            text-align: center;
        }
    }

    .body {
        background-color: $white;
        margin-bottom: 3px;
        height: 350px;
        font-family: MerriweatherLight;
        padding: 20px;

        textarea {
            height: 350px;
        }
    }

    .chapter-link {
        background-color: $white;
        margin-bottom: 3px;
        padding: 20px;

        textarea {
            height: 150px;
        }
    }

    .footer {
        background-color: $white;
        margin-bottom: 3px;
    }

    textarea {
        font-family: MerriweatherLight;
        width: 760px;
        resize: none;
    }
}
/* Writer End */
/* Reader */
#travel {
    .header {
        background-color: $white;
        font-size: 18px;
        border-bottom: 3px solid $light-gray;
        border-top: 3px solid $light-gray;
        padding: 30px 150px;
    }

    .body {
        font-family: MerriweatherLight;
        background-color: $white;
        padding: 30px 150px;
    }
}
/* Also use in chapter editor */
.chapter-links-block {
    padding: 30px 150px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: $white;

    .chapter-link {
        background-color: $white;

        .text {
            border: 2px #ccc solid;
            border-radius: 5px;
            padding: 20px;
            text-align: center;

            input {
                text-align: center;
                width: 400px;
            }
        }

        .action-button {
            position: relative;
            left: calc( (100% - 120px) / 2);
            top: -16px;
        }

        &.onlyNext .action-button {
            top: 0px;
        }

        .close {
            float: right;
            position: relative;
            top: 5px;
            left: -5px;
            z-index: 5;
        }

        &.onlyNext .close {
            
        }
    }
}
/* Reader End */
/* Icon */
.icon-bell {
    height: 20px;
    width: 20px;
    background-color: green;
    display: inline-block;
}
/* Icon End */
/* Common style*/
.left {
    float: left;
}

.right {
    float: right;
}

.center {
    position: absolute;
    left: calc(100% / 2)
}

.no-border {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.icon20 {
    width: 20px;
    height: 20px;
}

.fullscreen-div {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 48px;

    input {
        margin-top: 70px;
        font-size: 48px;
        background: rgba(0,0,0,0);
        /*&::placeholder{

        }*/
    }
}

.gray-text {
    color: $gray-middle;
}

.wait {
    background-image: url(../icon/wait.gif);
    width: 42px;
    height: 42px;
}

.button-medium-blue {
    color: $white;
    background-color: $blue1;
    border-radius: 24px;
    padding: 5px 12px;
    cursor: pointer;
}
/* Common style End*/
/* ng-form */
textarea.ng-dirty,
input.ng-dirty {
    background-color: $light-gray;
}
/* ng-form End  */
