@model dynamic

@{
    ViewBag.Title = "Add your Html Page here";
    Layout = "~/Views/StudentLayoutMaster.cshtml";
}

@using (Html.BeginForm("AddHtmlPage", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>Здесь вы можете сохранить свой HTML файл</h2>
    <div>
        1) Выберите файл <input type="file" name="file"/>
    </div>
    
    <div>
        2) Введите своё имя или фамилию или куб любимого числа <input type="text" value="" name="studentName" />
    </div>
    
    <div>
        3) Нажмите <input type="submit" value="Сохранить" />
    </div>
    <input type="hidden" name="useValidation" value="true" />
}
