@model List<WebWriterV2.Models.StudentHtmlFile>

@{
    ViewBag.Title = "All Student Page";
    Layout = "~/Views/StudentLayoutMaster.cshtml";
}

@section Script
{
    <script>
        $(document).ready(function () {
            $(".delete").click(function () {
                var isConfirm = confirm("Вы уверены что хотите удалить файл?");
                return isConfirm;
            });
        });
    </script>
}

<h2>Привет Босс</h2>

@foreach (var student in Model)
{
    @Html.Partial("StudentFilesRow", student)
}