@model dynamic

@{
    ViewBag.Title = "Example";
    Layout = "~/Views/StudentLayoutMaster.cshtml";
}

@section Script
{
    <script>
        $(document).ready(function() {
            $("h3").click(function () {
                $(this).hide(500).show(500);
            });

            $("#colorBtn").click(function () {
                var color = $("#colorValue").val();
                $("#colorValue").attr("style", "background-color: " + color);
            });

            $("#imgBtn").click(function () {
                var imgUrl = $("#imgValue").val();
                $("#imgContainer").attr("src", imgUrl);
            });
        });
    </script>

}

<div>
    <h3 id="main">Menu</h3>
    <p class="line">line 1</p>
    <p class="line">line 2</p>
    <p class="line">line 2</p>
</div>

<div>
    <h3 id="colorBtn">Color</h3>
    <input id="colorValue" type="text" value="#FFF555"/>
</div>

<div>
    <h3 id="imgBtn">Image</h3>
    <input id="imgValue" type="text" value="http://cs624217.vk.me/v624217609/65e8/xdzHFFfB288.jpg"/>
    <div>
        <img id="imgContainer" />
    </div>
</div>