@model List<string>

@{
    ViewBag.Title = "All Student Page";
    Layout = "~/Views/StudentLayoutMaster.cshtml";
}

@section Script
{
    <script>
        $(document).ready(function () {
            $(".delete").click(function() {
                var isConfirm = confirm("Вы уверены что хотите удалить файл?");
                return isConfirm;
            });
        });
        
    </script>
}

<h2>All Student Page</h2>
@foreach (var fileName in Model)
{
    <p><a href="/html/@fileName">@fileName</a> <a class="delete" href="@Url.Action("RemoteHtmlPage", new { fileName })"><img src="@Url.Content("~/Content/del.jpg")" width="20" /></a></p>
}