@using System.Web.Mvc.Html
@using Dao.Model
@model StudentLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/StudentLayoutMaster.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Student", FormMethod.Post))
{
    <p>Name @Html.TextBoxFor(x => x.Name)</p>
    <p>Pass @Html.PasswordFor(x => x.Password)</p>
    <input type="submit" value="Войти"/>
    @Html.HiddenFor(x => x.Type)
}