<div>
    <div style="float: right; width: 300px;">
        <h2>Список квестов <!--<a ng-href="#" ng-click="addBook()">+</a>--> </h2>
        <a ng-href="#" ng-click="addBook()"><img src="/Content/icon/add.png" class="icon20" /></a>
        <p ng-repeat="bookItem in books">
            <a ng-href="#" ng-click="selectBook(bookItem)">{{bookItem.Name}}</a>
            <a ng-href="#" ng-click="removeBook(bookItem, $index)"><img src="/Content/icon/delete.png" class="icon20"/></a>
        </p>


        <div ng-if="book">
            <h2>Список евентов</h2>
            <p>
                <a ng-href="#" ng-click="goToEvent(book)">Перейти к событиям квеста "{{book.Name}}"</a>
            </p>
        </div>
    </div>
    <div ng-show="!book">
        <input type="button" ng-click="importBook()" value="Import"/>
        <br />
        <textarea ng-model="importJson" rows="10" cols="100"></textarea>
    </div>
    <h3 ng-show="book" ng-click="toggleShowEditPanel()" style="cursor: pointer;">{{showEditPanel ? 'Спрятать' : 'Показать'}} поля редактирования {{showEditPanel ? "&uarr;" : "&darr;"}}</h3>
    <form ng-show="book && showEditPanel" novalidate style="width: 1000px; float: left;">
        <input type="submit" ng-click="saveBook()" value="Save"/>
        <input type="button" ng-click="exportBook()" value="Export" style="float: right;"/>

        <p>
            Name: <input type="text" ng-model="book.Name"/>
        </p>
        <p>
            <span ng-if="book.Genre">
                Genre: {{book.Genre.Name}}                
            </span>
            Change genre: <select ng-model="book.Genre" ng-options="genre as genre.Name for genre in allGenres"></select>
        </p>
        <p>
            Desc: <textarea id="desc" ng-model="book.Desc"></textarea>
        </p>
    </form>
    <ng-book-info book="book" style="float: left;"></ng-book-info>
    <div id="eventsGraph" ng-if="book && book.ContainsCycle" style="border: 1px red solid; width: 900px; float: left;"
         ng-style="{'height': (200 * book.AllEvents.length / 3)+'px'}"></div>
    <canvas id="eventsGraph" ng-if="book && !book.ContainsCycle" 
            style="border: 1px red solid; width: 900px; height:2200px; float: left;" width="900" height="2200"></canvas>

    <div ng-show="book" style="clear: both;">
        <div ng-show="notAvailableEvents && notAvailableEvents.length > 0" style="color: red;">
            <h3>Главы в которые невозможно попасть!</h3>
            <p ng-repeat="event in notAvailableEvents">
                <a ng-href="/AngularRoute/admin/book/{{book.Id}}/event/{{event.Id}}" ng-click="selectEvent(event.Id)">
                    {{event.Name}}
                </a>
            </p>
        </div>

        <h3>Всего {{book.AllEvents.length}} Глав:</h3>
        <p ng-repeat="event in book.AllEvents">
            <a ng-href="/AngularRoute/admin/book/{{book.Id}}/event/{{event.Id}}" ng-click="selectEvent(event.Id)">
                {{event.Name}}
            </a>
        </p>
        <h3>Стартовая глава:</h3>
        <p>
            <a ng-href="/AngularRoute/admin/book/{{book.Id}}/event/{{book.RootEvent.Id}}" ng-click="selectEvent(book.RootEvent.Id)">
                {{book.RootEvent.Name}}
            </a>
            <p>
                Сменить стартовую главу:
            </p>
            <p>
                <select ng-model="newRootEvent" ng-options="event as event.Name for event in book.AllEvents"></select>
                <input type="button" value="Set" ng-click="changeRootEvent()"/>
            </p>
        </p>
        <h3>На {{endingEvents.length}} главах может закончится Квест:</h3>
        <p ng-repeat="event in endingEvents">
            <a ng-href="/AngularRoute/admin/book/{{book.Id}}/event/{{event.Id}}" ng-click="selectEvent(event.Id)">
                {{event.Name}}
            </a>
        </p>
    </div>

    <!--<ng-book-info book="book"></ng-book-info>-->
</div>