<div>
    <div class="content">
        <div class="specialMarginForQuests">
            <h1 class="text">
                Характеристики
            </h1>
        </div>
        <div class="border1px">
            Добавить характеристику
            <p>Название: <input type="text" ng-model="newCharacteristicType.Name"/></p>
            <p>Описание: <textarea ng-model="newCharacteristicType.Desc"></textarea></p>

            <span ng-repeat="state in newCharacteristicType.State">
                {{state.StateType.Name}}: {{state.Number}} <input type="button" value="-" ng-click="removeState(newCharacteristicType.State, $index)" />
            </span>

            <select ng-model="someState.StateType" ng-options="option.value as option.name for option in stateType"></select>
            : <input type="text" ng-model="someState.Number" />
            <input type="button" value="Добавить эффект на себя" ng-click="addState(newCharacteristicType.State, someState)" />

            <input type="button" value="Добавить" ng-click="saveCharacteristicType()"/>
        </div>
        <div ng-repeat="characteristicType in characteristicTypes" class="block300 left border1px padding10">
            <p>Название: {{characteristicType.Name}}</p>
            <p>Описание: {{characteristicType.Desc}}</p>
            <p>
                Герой:
                <span ng-repeat="state in characteristicType.State">
                    {{state.StateType.Name}}: {{state.Number}}
                </span>
            </p>
            <input type="button" value="Удалить" ng-click="removeCharacteristicType(characteristicType)"/>
        </div>
    </div>
</div>