<div>
    <div style="float: right; width: 300px;">
        <h2>
            <a href="#" ng-click="goToQuest()">{{quest.Name}}</a> events:
        </h2>
        <p ng-repeat="eventItem in events">
            <a ng-href="#" ng-click="selectEvent(eventItem)">{{eventItem.Name}}</a>
            <a ng-href="#" ng-click="removeEvent(eventItem, $index)"><img src="/Content/delete.png" style="width: 20px; height: 20px;"/></a>
        </p>
        <a ng-href="#" ng-click="addEvent()"><img src="/Content/add.png" style="width: 20px; height: 20px;" /></a>
    </div>
    <form ng-show="event" novalidate class="left" style="width: 600px;">
        <input type="submit" ng-click="saveEvent()" value="Save"/>
        <p>
            Name: <input type="text" ng-model="event.Name"/>
        </p>
        <p>
            ProgressChanging: <input type="text" ng-model="event.ProgressChanging" />
        </p>
        <p>
            Desc: <textarea id="desc" ng-model="event.Desc"></textarea>
        </p>
    </form>

    <!--<ng-quest-info quest="quest"></ng-quest-info>-->
</div>