<div>
    <div style="float: right; width: 300px;">
        <h2>
            <a href="#" ng-click="goToQuest()">{{quest.Name}}</a> events:
        </h2>
        <p ng-repeat="eventItem in events">
            <a ng-href="#" ng-click="selectEvent(eventItem.Id)">{{eventItem.Name}}</a>
            <a ng-href="#" ng-click="removeEvent(eventItem, $index)"><img src="/Content/delete.png" style="width: 20px; height: 20px;" /></a>
        </p>
        <a ng-href="#" ng-click="addEvent()"><img src="/Content/add.png" style="width: 20px; height: 20px;" /></a>
    </div>
    <form ng-show="event" class="left event-edit">
        <h3 ng-click="parentExpand = !parentExpand">Откуда можно попасть в эту главу {{parentExpand ? "&uarr;" : "&darr;"}}</h3>
        <div ng-show="parentExpand">
            <p ng-repeat="linkItem in event.LinksToThisEvent">
                Из главы: <a ng-href="#" ng-click="selectEvent(linkItem.FromId)">{{linkItem.FromId}}</a>. С текстом перехода: {{linkItem.Text}}

            </p>
            <p ng-show="!event.LinksToThisEvent || event.LinksToThisEvent.length == 0">
                Нет глав ссылающихся на эту главу
            </p>
        </div>
        <hr />
        <h3 ng-click="reqExpand = !reqExpand">Условия входа в главу {{reqExpand ? "&uarr;" : "&darr;"}}</h3>
        <div ng-show="reqExpand">
            <p>
                RequrmentSex:
                <select ng-model="event.RequrmentSex.Value" ng-options="option.value as option.name for option in SexList"></select>
            </p>
            <p>
                RequrmentRace:
                <select ng-model="event.RequrmentRace.Value" ng-options="option.value as option.name for option in RaceList"></select>
            </p>
            <p>
                RequrmentSkill:
                <span ng-repeat="skill in event.RequrmentSkill">
                    {{skill.Name}}
                    <a ng-click="removeSkill(skill, $index)" style="cursor: pointer;"><img src="/Content/delete.png" style="width: 20px; height: 20px;" /></a>
                </span>
                <select ng-model="selectedSkill" ng-options="option as option.Name for option in availableSkill()"></select>
                <a ng-click="addSkill()" style="cursor: pointer;"><img src="/Content/add.png" style="width: 20px; height: 20px;" /></a>
            </p>
            <p>
                RequrmentCharacteristics:
                <span ng-repeat="characteristic in event.RequrmentCharacteristics">
                    {{characteristic.CharacteristicType.Name}} &ge; {{characteristic.Number}}
                    <a ng-click="removeCharacteristic(characteristic.Id)" style="cursor: pointer;"><img src="/Content/delete.png" style="width: 20px; height: 20px;" /></a>
                </span>

                <select ng-model="newRequrmentCharacteristicsType"
                        ng-options="option as option.Name for option in availableCharacteristicTypes()"></select>
                <input type="text" ng-model="newRequrmentCharacteristicsValue"/>
                <a ng-click="addCharacteristic()" style="cursor: pointer;"><img src="/Content/add.png" style="width: 20px; height: 20px;"/></a>
            </p>
            <div>
                RequirementThings:
                <p ng-repeat="thing in event.RequirementThings">
                    {{thing.ThingSample.Name}} &ge; {{thing.Count}};
                    <a href="#" ng-click="removeRequirementThings(thing.Id, $index)"><img src="/Content/delete.png" style="width: 20px; height: 20px;"/></a>
                </p>

                <select ng-model="selectedRequirementThingSample"
                        ng-options="thingSample as thingSample.Name for thingSample in availableRequirementThingSamples()"></select>
                <input type="number" ng-model="newRequirementThingSampleValue" ng-maxlength="9"/>
                <a ng-click="addRequirementThing()" style="cursor: pointer;"><img src="/Content/add.png" style="width: 20px; height: 20px;"/></a>
            </div>
        </div>
        <hr />
        <h3 ng-click="stateExpand = !stateExpand">Изменения Героя при входе в главу {{stateExpand ? "&uarr;" : "&darr;"}}</h3>
        <div ng-show="stateExpand">
            <div>
                <p ng-repeat="state in event.HeroStatesChanging">
                    {{state.StateType.Name}}: {{state.Number}};
                    <a href="#" ng-click="removeState(state.Id, $index)"><img src="/Content/delete.png" style="width: 20px; height: 20px;" /></a>
                </p>

                <select ng-model="selectedState" ng-options="option as option.Name for option in availableStateTypes()"></select>
                <input type="number" ng-model="newStateValue" ng-maxlength="9"/>
                <a ng-click="addState()" style="cursor: pointer;"><img src="/Content/add.png" style="width: 20px; height: 20px;"/></a>
            </div>
            <div>
                <p ng-repeat="thing in event.ThingsChanges">
                    {{thing.ThingSample.Name}}: {{thing.Count}};
                    <a href="#" ng-click="removeThing(thing.Id, $index)"><img src="/Content/delete.png" style="width: 20px; height: 20px;" /></a>
                </p>

                <select ng-model="selectedThingChangesSample"
                        ng-options="thingSample as thingSample.Name for thingSample in availableThingSamples()"></select>
                <input type="number" ng-model="newThingChangesSampleValue" ng-maxlength="9" />
                <a ng-click="addThingsChanges()" style="cursor: pointer;"><img src="/Content/add.png" style="width: 20px; height: 20px;" /></a>
            </div>
        </div>
        <hr />
        <h3 ng-click="eventEdit = !eventEdit">
            Глава Основное {{eventEdit ? "&uarr;" : "&darr;"}}
        </h3>
        <div ng-show="eventEdit">
            <input type="submit" ng-click="saveEvent()" value="Save" class="save" />
            <p>
                Name: <input type="text" ng-model="event.Name"
                             name="eventName" class="auto-apply" />
            </p>
            <p>
                ProgressChanging: <input type="text" ng-model="event.ProgressChanging"
                                         name="eventProgressChanging" class="auto-apply" />
            </p>
            <p>
                Desc: <textarea id="desc" ng-model="event.Desc"></textarea>
            </p>
        </div>
        <hr />
        <div name="eventLinkForm">
            <h3 ng-click="childExpand = !childExpand">
                Куда можно попасть из этой главы {{childExpand ? "&uarr;" : "&darr;"}}
            </h3>
            <div ng-show="childExpand">
                <p ng-repeat="linkItem in event.LinksFromThisEvent">
                    <!--FromId: {{linkItem.FromId}}. ToId: {{linkItem.ToId}}.-->
                    К главе:
                    <a ng-href="/AngularRoute/admin/quest/{{quest.Id}}/event/{{linkItem.ToId}}" ng-click="selectEvent(linkItem.ToId)">
                        {{linkItem.ToId}}
                    </a>
                    С текстом перехода:
                    <br/>
                    <input name="linkItemText{{linkItem.Id}}" type="text" ng-model="linkItem.Text"
                           class="auto-apply" ng-disabled="linkItem.disable" style="width: 500px;"/>
                    <a ng-href="#" ng-click="saveEventLink(linkItem)"><img src="/Content/confirm.png" style="width: 20px; height: 20px;"/></a>
                    <a ng-href="#" ng-click="removeEventLink(event, linkItem, $index)"><img src="/Content/delete.png" style="width: 20px; height: 20px;"/></a>
                </p>
                <hr/>
                <p>
                    Добавить переход к главе:
                    <select ng-model="selectedEvent" ng-options="event as event.Name for event in events"></select>
                    <a ng-href="#" ng-click="addEventLink()"><img src="/Content/add.png" style="width: 20px; height: 20px;"/></a>
                </p>
            </div>
        </div>
    </form>

    <!--<ng-quest-info quest="quest"></ng-quest-info>-->
</div>