<div>
    <div style="float: right; width: 300px;">
        <h2>Список квестов <!--<a ng-href="#" ng-click="addQuest()">+</a>--> </h2>
        <p ng-repeat="questItem in quests">
            <a ng-href="#" ng-click="selectQuest(questItem)">{{questItem.Name}}</a>
            <a ng-href="#" ng-click="removeQuest(questItem, $index)"><img src="/Content/delete.png" style="width: 20px; height: 20px;" /></a>
        </p>

        <div ng-if="quest">
            <h2>Список евентов</h2>
            <p>
                <a ng-href="#" ng-click="goToEvent(quest)">Перейти к событиям квеста "{{quest.Name}}"</a>
            </p>
        </div>
    </div>

    <form ng-show="quest" novalidate class="left" style="width: 600px;">
        <input type="submit" ng-click="saveQuest()" value="Save"/>
        <p>
            Name: <input type="text" ng-model="quest.Name"/>
        </p>
        <p>
            Desc: <textarea id="desc" ng-model="quest.Desc"></textarea>
        </p>
    </form>

    <!--<ng-quest-info quest="quest"></ng-quest-info>-->
</div>