<div>
    <div style="float: right; width: 300px;">
        <h2>Список квестов <!--<a ng-href="#" ng-click="addQuest()">+</a>--> </h2>
        <a ng-href="#" ng-click="addQuest()"><img src="/Content/icon/add.png" class="icon20" /></a>
        <p ng-repeat="questItem in quests">
            <a ng-href="#" ng-click="selectQuest(questItem)">{{questItem.Name}}</a>
            <a ng-href="#" ng-click="removeQuest(questItem, $index)"><img src="/Content/icon/delete.png" class="icon20"/></a>
        </p>


        <div ng-if="quest">
            <h2>Список евентов</h2>
            <p>
                <a ng-href="#" ng-click="goToEvent(quest)">Перейти к событиям квеста "{{quest.Name}}"</a>
            </p>
        </div>
    </div>
    <div ng-show="!quest">
        <input type="button" ng-click="importQuest()" value="Import"/>
        <br />
        <textarea ng-model="importJson" rows="10" cols="100"></textarea>
    </div>
    <h3 ng-show="quest" ng-click="toggleShowEditPanel()" style="cursor: pointer;">{{showEditPanel ? 'Спрятать' : 'Показать'}} поля редактирования {{showEditPanel ? "&uarr;" : "&darr;"}}</h3>
    <form ng-show="quest && showEditPanel" novalidate style="width: 1000px; float: left;">
        <input type="submit" ng-click="saveQuest()" value="Save"/>
        <input type="button" ng-click="exportQuest()" value="Export" style="float: right;"/>

        <p>
            Name: <input type="text" ng-model="quest.Name"/>
        </p>
        <p>
            <span ng-if="quest.Genre">
                Genre: {{quest.Genre.Name}}                
            </span>
            Change genre: <select ng-model="quest.Genre" ng-options="genre as genre.Name for genre in allGenres"></select>
        </p>
        <p>
            Desc: <textarea id="desc" ng-model="quest.Desc"></textarea>
        </p>
    </form>
    <ng-quest-info quest="quest" style="float: left;"></ng-quest-info>
    <div id="eventsGraph" style="border: 1px red solid; width: 900px; float: left;"
         ng-style="{'height': (200 * quest.AllEvents.length / 3)+'px'}"></div>

    <div ng-show="quest" style="clear: both;">
        <div ng-show="notAvailableEvents && notAvailableEvents.length > 0" style="color: red;">
            <h3>Главы в которые невозможно попасть!</h3>
            <p ng-repeat="event in notAvailableEvents">
                <a ng-href="/AngularRoute/admin/quest/{{quest.Id}}/event/{{event.Id}}" ng-click="selectEvent(event.Id)">
                    {{event.Name}}
                </a>
            </p>
        </div>

        <h3>Всего {{quest.AllEvents.length}} Глав:</h3>
        <p ng-repeat="event in quest.AllEvents">
            <a ng-href="/AngularRoute/admin/quest/{{quest.Id}}/event/{{event.Id}}" ng-click="selectEvent(event.Id)">
                {{event.Name}}
            </a>
        </p>
        <h3>Стартовая глава:</h3>
        <p>
            <a ng-href="/AngularRoute/admin/quest/{{quest.Id}}/event/{{quest.RootEvent.Id}}" ng-click="selectEvent(quest.RootEvent.Id)">
                {{quest.RootEvent.Name}}
            </a>
            <p>
                Сменить стартовую главу:
            </p>
            <p>
                <select ng-model="newRootEvent" ng-options="event as event.Name for event in quest.AllEvents"></select>
                <input type="button" value="Set" ng-click="changeRootEvent()"/>
            </p>
        </p>
        <h3>На {{endingEvents.length}} главах может закончится Квест:</h3>
        <p ng-repeat="event in endingEvents">
            <a ng-href="/AngularRoute/admin/quest/{{quest.Id}}/event/{{event.Id}}" ng-click="selectEvent(event.Id)">
                {{event.Name}}
            </a>
        </p>
    </div>

    <!--<ng-quest-info quest="quest"></ng-quest-info>-->
</div>